.title {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

.slide-temporary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.slide {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1.5rem;
  border-radius: 5px;
}

.slide-body {
  height: 100%;
}

.swiper {
  height: 100%;
  text-align: center;
}

.img {
  width: 100%;
  height: 100%;
}

.btn {
  display: block;
  margin: 2rem auto 0;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 1.15rem;
  }

  .jobs {
    align-items: flex-start;
  }

  .slide {
    max-width: 100%;
  }

  .title {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 1.1rem;
  }
}