.title {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.form-label {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

.form-input {
  font-size: 1.1rem;
}

.error-message {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: #d51515;
}

.submit-btn {
  display: block;
  width: 100%;
  margin: 2rem auto 0;
  padding: 0.5rem 3rem;
  font-size: 1.25rem;
  background-color: #2dcc70;
  border-color: #2bbf69;
}
.submit-btn:hover {
  background-color: #23a056;
  border-color: #2bbf69;
}
.submit-btn:active, .submit-btn:focus {
  background-color: #1f8e4d;
  border-color: #23a056;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.6rem;
  }

  .form-group {
    margin-bottom: 2.25rem;
  }

  .form-label {
    font-size: 1.15rem;
  }

  .submit-btn {
    font-size: 1.1rem;
  }
}
