.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 85%;
  margin: 4rem auto 0;
  padding: 15px 25px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #ffffff;
  color: #9a9a9a;
}

.call-text {
  margin-bottom: 5px;
  font-weight: bold;
  color: #254e94;
}

.other-text {
  font-size: 0.9rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.email{
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.phone {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px){
  .footer {
    flex-direction: row;
    text-align: unset;
  }
}