.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 10px 5px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-weight: bold;
  background-color: #ffffff;
  color: #294c83;
}

.candidates-message-container {
  justify-content: space-between;
  margin-top: 1rem;
  background-color: #0dcaf0;
  color: black;
}

.header-text {
  margin: 0.5rem 0;
}

.menu-icon {
  position: absolute;
  right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.credit {
  display: flex;
  margin-right: 20px;
  padding: 5px;
  border-radius: 50px;
  background-color: #fbfbfb;
  margin-left: 0.5rem;
}

.my-credit {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.my-credit-text {
  display: none;
}

.my-credit-count{
  margin-right: 0.5rem;
}

.increase {
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #fcc314;
}

.notification {
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width: 420px) {
  .header {
    justify-content: center;
    padding: 10px 20px;
  }

  .candidates-message-container {
    justify-content: space-between;
  }

  .credit {
    padding: 5px 20px;
  }

  .my-credit {
    margin-left: 2rem;
  }

  .my-credit-text {
    display: block;
  }

  .my-credit-count{
    margin-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .header {
    justify-content: flex-end;
    padding: 10px 20px 10px 50px;
  }

  .candidates-message-container {
    justify-content: space-between;
  }
}
