.profile {
  min-height: calc(100vh - 4.2rem);
  padding: 2rem 0 5rem;
  background-color: #f9f9f9;
}

.main {
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #ffffff;
}


@media screen and (min-width: 992px){
  .main {
    min-height: 550px;
  }
}

@media screen and (min-width: 1200px){
  .main {
    min-height: 590px;
  }
}

@media screen and (min-width: 1400px){
  .main {
    min-height: 608px;
  }
}