.container {
  position: fixed;
  width: 225px;
  height: 100%;
  transform: translateX(225px);
  z-index: 1;
  top: 0;
  right: 0;
  transition: transform 0.5s ease;
}

.container.is-open {
  transform: translateX(0);
}

.overlay {
  display: none;
}

.overlay.is-open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 50px 10px;
  overflow: hidden;
  background-image: linear-gradient(#1164c4 , #123699);
  color: #ffffff;
}

.top-bg-circle {
  position: absolute;
  top: -50px;
  left: -90px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: rgba(30, 103, 196, 0.5);
}

.bottom-bg-circle {
  position: absolute;
  bottom: -80px;
  right: -50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(23, 63, 164);
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo-link {
  margin-bottom: 2rem;
}

.logo {
  width: 75px;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.nav {
  padding: 0 10px;
  z-index: 1;
}

.item {
  margin: 1.5rem 0;
  list-style: none;
  font-size: 1rem;
}

.item .active {
  color: #f0c014;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}

.link:hover {
  color: #f0c014;
}

.item-icon {
  font-size: 1.5rem;
}

.item-text {
  margin-right: 10px;
}

.chevron {
  margin-right: auto;
}

.super-item {
  position: relative;
  right: -10px;
  width: calc(100% + 10px);
  margin: 1.5rem 0;
  list-style: none;
  font-size: 1rem;
}

.accordion-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  border: 0;
  background-color: transparent;
  color: #fff;
}

.accordion-toggle.toggle-down {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
  color: #254c82;
}

.accordion-toggle:focus {
  outline: none;
}

.sub-items {
  padding: 5px 25px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #2c56cc;
}

.sub-items .item {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.sub-items .item-text:before {
  content: '';
  margin-left: 20px;
}

.sub-items .active {
  display: flex;
  align-items: center;
}

.sub-items .active:before {
  content: '-';
  margin-left: 10px;
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  .container {
    width: unset;
    position: unset;
    height: unset;
    top: unset;
    right: unset;
    transform: translateX(0);
  }

  .container.is-open {
    width: unset;
  }

  .overlay.is-open {
    display: none;
  }

  .menu {
    border-radius: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 1.3rem;
  }

  .nav {
    padding: 0 20px;
  }

  .item {
    font-size: 1.1rem;
  }

  .item-text {
    margin-right: 15px;
  }

  .super-item {
    font-size: 1.1rem;
  }

  .sub-items .item {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .title {
    font-size: 1.5rem;
  }

  .nav {
    padding: 0 30px;
  }

  .item {
    font-size: 1.2rem;
  }

  .super-item {
    font-size: 1.2rem;
  }

  .sub-items .item {
    font-size: 1.1rem;
  }
}
