.body {
  min-height: 100vh;
  background-image: linear-gradient(90deg, #0575e6, #17dcd6);
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.asanseminar-logo-link {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
}

.asanseminar-logo {
  width: 10rem;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
}

.title-bar {
  margin: 1rem 0 0;
  padding: 1rem 2rem;
  border-radius: 10px 10px 0 0;
  text-align: center;
  background-color: #fff;
  font-size: 1.4rem;
  color: black;
}

.box {
  margin-top: 0;
  padding: 2rem 2rem;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff99;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.box-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.25rem;
}

.success-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7rem 0;
  padding: 0 2rem;
  border-radius: 1rem;
  background-color: #ffffff99;
}

.success-box-header {
  text-align: center;
  margin-bottom: 3rem;
  line-height: 2;
  color: green;
}

.field-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.85rem;
}

.field-title {
  margin: 0;
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  font-size: 0.95rem;
}

.field-error {
  border-color: #e70c0c !important;
}
.field-error:focus {
  box-shadow: 0 0 0 .25rem #e70c0c30;
}

.error-message {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: #d51515;
}

.more-field-input {
  text-align: left;
  padding-left: 30px;
}

.field-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.add-btn {
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #0e86d4;
}

.remove-btn {
  width: 18px;
  height: 18px;
  color: #fff;
  background-color: #ff7077;
}

.field-action-btn-col {
  flex: 0 0 auto;
  width: 25px;
  max-width: 8.3333333333%;
  padding-right: 0;
}

.remove-btn-col {
  position: absolute;
  left: 10px;
  top: 4px;
  z-index: 10;
}

.organization-contacts-title {
  margin: 15px 0 30px;
  padding: 0 20px 10px;
  font-size: 1.2rem;
  color: rgb(69, 77, 85);
  text-align: center;
}

.verification-box {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #deabec;
  border-radius: 5px;
}

.resend-button {
  margin-top: 1rem;
  padding: 0.4rem 8rem;
  font-size: 0.9rem;
}

.submit-button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

.link {
  min-width: 15rem;
  margin: 0.2rem 1rem;
  padding: 0.3rem 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (min-width: 576px) {
  .remove-btn-col {
    top: 6px;
  }
}

@media screen and (min-width: 768px) {
  .more-field-input {
    padding-left: 35px;
  }

  .field-action-btn {
    margin-top: 0;
  }

  .add-btn {
    width: 25px;
    height: 25px;
  }

  .remove-btn {
    width: 22px;
    height: 22px;
  }

  .field-action-btn-col {
    width: 30px;
  }

  .remove-btn-col {
    top: 7px;
    left: 20px;
  }

  .link {
    font-size: 1rem;
  }
}