.sidebar {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

.teacher-img {
  display: block;
  margin: auto;
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.name {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.role {
  width: 80px;
  margin: auto;
  margin-bottom: 30px;
  padding: 1px 25px;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #4d13d1;
  color: #ffffff;
}

.follow-btn {
  width: 110px;
  padding: 5px 20px;
  margin: auto;
  margin-bottom: 30px;
  border: 2px solid #4d13d1;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #eeeeee;
  color: #4d13d1;
}

.follow-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.follower {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.following {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.count {
  font-weight: bold;
  font-size: 1.5rem;
  color: #4d13d1;
}

.txt {
  font-weight: bold;
  font-size: 1.3rem;
  color: #4d13d1;
}

.hr {
  color: #c4c6c5;
}

.link-section {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  margin: 20px 0;
}

.globe {
  font-size: 2.5rem;
  opacity: 30%;
  color: #000000;
}

.link {
  font-size: 1.3rem;
  margin-left: 10px;
  opacity: 30%;
  color: #000000;
}

.link:hover {
  opacity: 70%;
  color: #000000;
}

.report-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.megaphone {
  font-size: 2.5rem;
  opacity: 30%;
  color: #000000;
}

.report-link {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 10px;
  opacity: 50%;
  color: #000000;
}

.report-link:hover {
  opacity: 70%;
  color: #000000;
}

@media screen and (min-width: 576px){
  .teacher-img {
    width: 150px;
  }

  .name {
    font-size: 1.4rem;
  }

  .role {
    width: 100px;
    font-size: 1.2rem;
  }

  .follow-btn {
    width: 115px;
  }
}

@media screen and (min-width: 768px){
  .name {
    font-size: 1.1rem;
  }

  .role {
    font-size: 1rem;
  }

  .follow-btn {
    width: 120px;
    font-size: 1.1rem;
  }

  .count {
    font-size: 1.3rem;
  }

  .txt {
    font-size: 1.1rem;
  }

  .globe{
    font-size: 2.1rem;
  }

  .link {
    font-size: 1.1rem;
  }

  .megaphone{
    font-size: 2.1rem;
  }

  .report-link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px){
  .teacher-img {
    width: 120px;
  }

  .name {
    font-size: 0.9rem;
  }

  .role {
    font-size: 0.7rem;
    width: 80px;
    padding: 2px 0;
  }

  .follow-btn {
    width: 100px;
    font-size: 0.85rem;
    padding: 5px 0;
  }

  .count {
    font-size: 1.1rem;
  }

  .txt {
    font-size: 0.85rem;
  }

  .globe{
    font-size: 2rem;
  }

  .link {
    font-size: 0.9rem;
  }

  .megaphone{
    font-size: 2rem;
  }

  .report-link {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 1200px){
  .teacher-img {
    width: 130px;
  }

  .name {
    font-size: 0.9rem;
  }

  .role {
    font-size: 0.7rem;
    width: 80px;
    padding: 2px 0;
  }

  .follow-btn {
    width: 110px;
    font-size: 0.9rem;
    padding: 5px 0;
  }

  .count {
    font-size: 1.1rem;
  }

  .txt {
    font-size: 0.9rem;
  }

  .globe{
    font-size: 2rem;
  }

  .link {
    font-size: 0.9rem;
  }

  .megaphone{
    font-size: 2rem;
  }

  .report-link {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 1400px){
  .teacher-img {
    width: 140px;
  }

  .name {
    font-size: 1rem;
  }

  .role {
    font-size: 0.7rem;
    width: 90px;
    padding: 2px 0;
  }

  .follow-btn {
    width: 110px;
    font-size: 0.9rem;
    padding: 5px 0;
  }

  .count {
    font-size: 1.2rem;
  }

  .txt {
    font-size: 1rem;
  }

  .globe{
    font-size: 2rem;
  }

  .link {
    font-size: 0.9rem;
  }

  .megaphone{
    font-size: 2rem;
  }

  .report-link {
    font-size: 0.85rem;
  }
}