.row {
  padding-bottom: 10px;
}

.gx-3 {
  --bs-gutter-x: 1.8rem;
}

.gy-4 {
  --bs-gutter-y: 2.3rem;
}

@media screen and (min-width: 992px) {
  .gx-lg-4 {
    --bs-gutter-x: 2.3rem;
  }

  .gy-lg-5 {
    --bs-gutter-y: 3rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}
