.main {
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.articles {
  margin-bottom: 3rem;
}

.not-found {
  margin: 10rem auto;
  font-size: 1.25rem;
  text-align: center;
  color: #777;
}

.not-found-image {
  max-width: 80px;
  margin-bottom: 1rem;
}
