.main-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.container {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.main-blog {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fbfbfb;
  color: #254c82;
}

.blog {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  background-color: #ffffff;
}

.blog.org-blog {
  box-shadow: unset!important;
}

.blog-body {
  * {
    word-wrap: break-word;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h1, h2, h3 {
    font-weight: 700;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.1rem;
  }

  h4, h5, h6 {
    font-weight: 600;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.75;
  }

  img {
    height: auto;
  }

  video, table, picture, img {
    max-width: 100%;
    object-fit: contain;
  }
}

.breadcrumb {
  margin-bottom: 0;
  border-bottom: 1px solid #718bae;
  background-color: #ffffff;
  color: #254c82;
}

.breadcrumb-item a{
  color: #6c757d;
}

.breadcrumb-active {
  color: #254c82!important;
}

.banner {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.sidebar {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .main-container {
    padding: 0 4rem;
  }

  .blog-body {
    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.55rem;
    }

    h3 {
      font-size: 1.25rem;
    }

    h4 {
      font-size: 1rem;
    }

    h5 {
      font-size: 0.85rem;
    }

    h6 {
      font-size: 0.75rem;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
      line-height: 1.5;
    }
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    margin-top: 0;
  }
}
