.container {
  height: 100vh;
  padding: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  max-width: 400px;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.input, .submit {
  margin-bottom: 0.5rem;

}