.btn {
  font-size: 0.85rem;
}

.button-round {
  border-radius: 10rem;
  font-size: 0.9rem;
  padding: 0.55em 1.85em;
}

.button-no-outline {
  border: none;
}

.swiper-button-disabled {
  opacity: 0 !important;
  cursor: initial !important;
}

@media screen and (min-width: 420px) {
  .btn {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 576px) {
  .btn {
    font-size: 1rem;
  }

  .button-round {
    font-size: 0.9rem;
  }
}
