.main {
  padding-top: 8rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #4b4b4b;
}

.title {
  margin: 4rem 0;
  font-size: 2rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr {
  flex: 3;
  border-top: 1px solid #1496d6;
}

.top-logo {
  flex: 0.8;
  margin: 0 50px;
}

.main p {
  font-size: 1.25rem;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.contact-section-text {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.icon {
  font-size: 1.5rem;
  margin-left: 10px;
  color: #818181;
}

.inner {
  margin-bottom: 3rem;
}

.inner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 50px;
}

.inner-icon {
  width: 20px;
  margin-left: 7px;
}

.inner-text {
  margin: 0;
  font-size: 1.25rem;
}

.inner-icon {
  margin-top: 1px;
}

.address-icon {
  margin-top: -8px;
  font-size: 4rem;
}

.address-text {
  text-align: justify;
}

@media screen and (min-width: 1200px){
  .address-icon {
    margin-top: 0;
    font-size: 2rem;
  }
}