.background-container {
  background-color: #f8f9f8;
}

.page {
  padding-top: 3rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.title {
  font-size: 1.55rem;
  text-align: center;
  margin-bottom: 2rem;
}

.hr {
  margin-bottom: 3.25rem;
}

.hr2 {
  margin-bottom: 1.5rem;
}

.search {
  max-width: 500px;
  margin: 0 auto 2.25rem;
}

.search-field {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  box-shadow: 0 2px 3px rgba(100, 100, 100, 0.1);
  border: none;
}

.gy-5 {
  --bs-gutter-y: 2rem;
  justify-content: center;
}

.courses {
  margin-bottom: 5rem;
}

.recommended-courses {
  margin-bottom: 6rem;
}

.bottom-text-title {
  margin-bottom: 1.2rem;
  font-size: 1.65rem;
}

.bottom-text {
  margin-bottom: 2.5rem;
  line-height: 1.7;
  font-size: 1.1rem;
}

@media screen and (min-width: 992px) {
  .bottom-text-title {
    font-size: 1.55rem;
  }

  .bottom-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .search {
    max-width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .page {
    max-width: 1080px !important;
  }
}
