.guest {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background: linear-gradient(135deg, #005c97, #363795);
}

.box {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin: 0.5rem 0;
  padding: 2rem 0;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
  text-align: center;
}

.brand {
  margin: 0.5rem 0 2rem 0;
  text-align: center;
}

.brand-img {
  height: 7rem;
}

.brand-title {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: #5a6268;
}

.error {
  font-size: 1.25rem;
  color: #d51515;
}

.login {
  font-size: 1.2rem;
  color: #0f6674;
  padding: 3px 0 10px 0;
}

.title {
  font-size: 1rem;
}

.link {
  display: block;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
  margin-top: 1rem;
  color: inherit;
}

.form {
  max-width: 350px;
  margin: 0 auto;
}

.form-group {
  margin: 1.5rem 0 1rem;
}

.form-label {
  font-size: 1.1rem;
}

.form-control {
  width: 85%;
  height: 30px;
  margin: auto;
  border-radius: 25px;
  border: 1px solid #27c2d8;
  padding: 5px 12px;
  background-color: white;
  color: #666;
  text-align: center !important;
  font-size: 0.9rem;
}

.field-error {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  text-align: center;
  color: #d51515;
}

.meeting {
  align-items: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
}

.no-meetings {
  color: dimgray;
  margin: 3rem auto 1.5rem;
}

.date {
  margin-top: 10px;
  margin-bottom: 10px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-general {
  padding: 0.3rem 0.9rem;
  border-radius: 4px;
  background-color: #777;
  color: white;
}

.btn-success {
  background-color: #029d02;
}
.btn-success:hover {
  background-color: #00b000;
}
.btn-success:active {
  background-color: #009500;
}

.btn-enter-icon {
  font-size: 1.1rem;
  margin-left: 0.5rem;
}

.footer-img {
  width: 175px;
  display: block;
  margin: 50px auto 20px !important;
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.5));
}

@media screen and (min-width: 768px) {
  .form-control {
    width: 100%;
    height: 50px;
  }

  .time {
    justify-content: right;
  }

  .time.english {
    justify-content: left;
  }
}
