.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 8rem 0;
  background: rgb(227,229,230);
}

.container {
  padding: 0;
}

.row {
  width: 100%;
  align-items: center;
  margin: 0;
}

.col-left {
  order: 1;
  padding: 0;
}

.col-right {
  order: 2;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #1d71b9;
}

.main-text-code {
  margin-bottom: -2rem;
  font-size: 8rem;
}

.description {
  margin-bottom: 5px;
  padding: 0.7rem 1rem;
  border-radius: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 1.2rem;
  text-align: center;
  background-color: #015caf;
  color: #fff;
}

.poem {
  padding: 0.7rem 1rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 1.2rem;
  text-align: center;
  background-color: #eeb80d;
  color: #241b02;
}

.poet {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.img {
  display: block;
  max-width: 100%;
  width: 320px;
  margin: auto;
}

.main {
  width: 100%;
  min-height: 100vh;
  direction: rtl;
  background: url('/images/background-header.png') center center no-repeat;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.image {
  margin: 3rem auto 0 auto;
}

.image .logo {
  display: block;
  max-width: 95%;
  height: auto;
  max-height: 250px;
  margin: auto;
}

.error{
  text-align: center;
  width: fit-content;
  margin: 7rem auto;
  margin-bottom: 15px;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #3a3a3a;
}
.err-code h2 {
  margin: 2rem;
  font-weight: 900;
}

.err-txt h4 {
  margin: 2rem;
  font-weight: 500;
}
.return {
  margin-top: 2rem;
  text-align: center;
}
.return a {
  padding: 1rem 2rem!important;
  background-color: #ffeb3b;
  color: #34495e;
}
.return a:hover {
  background-color: #f1c40f;
  color: #2c3e50;
}
.err-img {
  display: block;
  width: 175px;
  margin: 2rem auto 2rem !important;
}

@media only screen and (min-width: 576px) {
  .col-right {
    padding: 0;
  }

  .description {
    width: 380px;
    padding: 0.7rem 3rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 15px;
    text-align: right;
  }

  .poem {
    width: 100%;
    padding: 0.7rem 3rem;
    border-top-left-radius: 70px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 15px;
    text-align: right;
  }

  .poet {
    text-align: left;
  }

  .img {
    width: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .image {
    margin-top: 3rem;
  }

  .image .logo {
    height: 350px;
    max-height: unset;
  }

  .error{
    margin: 2rem auto 1rem;
    padding: 3rem 7rem;
    font-size: 2.5rem;
  }

  .description {
    width: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .page {
    padding: 0;
  }

  .col-right {
    order: 1;
  }

  .col-left {
    order: 2;
  }

  .poem {
    width: 480px;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 0;
    border-top-left-radius: 50px;
  }

  .description {
    width: 380px;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 0;
    border-top-left-radius: 50px;
  }

  .img {
    width: 90%;
    max-width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .description {
    width: 420px;
  }

  .poem {
    width: 580px;
  }
}

@media only screen and (min-width: 1400px) {
  .poem {
    width: 650px;
  }
}