html {
  font-size: 11px;
}

.navbar-brand {
  margin-left: 0;
}

a {
  text-decoration: none !important;
}

.team-story-section .nav-item .active {
  background-color: #4d13d1;
}

.gradient-background {
  background: linear-gradient(90deg, #0f7cd3, #235395);
}

.course-main-section-tabs {
  .nav-item .active {
    position: relative;
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    color: white;
  }
}

.Toastify__toast {
  font-family: iranyekan !important;
}

.slider-btn-next, .slider-btn-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  color: white;
  z-index: 10;
  cursor: pointer;
  transition: opacity 0.1s ease-out;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.666));
}

.slider-btn-next {
  right: -1.25rem;

  &:after {
    content: 'next';
    font-size: 2rem;
    font-weight: 900;
    font-family: 'swiper-icons';
  }
}

.slider-btn-prev {
  left: -1.25rem;

  &:after {
    content: 'prev';
    font-size: 2rem;
    font-weight: 900;
    font-family: 'swiper-icons';
  }
}

/* Calendar styles */
.rbc-month-row {
  overflow: unset;
}

.rbc-row-content {
  min-height: 4rem;
}

.rbc-header {
  padding: 5px;
  text-overflow: unset;
  height: 3rem;
}

.rbc-header > span {
  display: inline-block;
  position: relative;
  right: -2px;
  top: 5px;
  transform: rotateZ(-45deg);
}

.rbc-header + .rbc-header {
  border-left: unset;
  border-right: 1px solid #DDD;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: unset;
  border-right: 1px solid #DDD;
}

.rbc-event.rbc-selected {
  background-color: #95a5a6;
}

// Progressbar
#nprogress .bar {
  background: #e74c3c;
}

#nprogress .peg {
  box-shadow: 0 0 10px #e74c3c, 0 0 5px #e74c3c;
}

// Blog Top Menu
.blog-menu-dropdown .dropdown-menu {
  position: absolute;
  border-top: 6px solid #fcc314;
  border-radius: 5px;
}

@media screen and (min-width: 420px) {
  .rbc-row-content {
    min-height: 5rem;
  }

  .rbc-header {
    text-overflow: ellipsis;
    height: unset;
  }

  .rbc-header > span {
    display: unset;
    position: unset;
    right: unset;
    top: unset;
    transform: unset;
  }
}

@media screen and (max-width: 991.98px) {
  .rbc-row,
  .rbc-row-content {
    height: 100%;
  }
}

@media screen and (min-width: 576px) {
  html {
    font-size: 12px;
  }

  .navbar-brand {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }

  .gradient-background {
    background: linear-gradient(90deg, #0884e8, #254c82);
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 15px;
  }

  .rbc-row-content {
    min-height: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  .gradient-background {
    background: linear-gradient(90deg, #0394f7, #30396e);
  }
}
