.master-page {
  padding: 50px 0;
}

.master-page-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.8rem;
}

.main {
  padding: 0 10px;
}

.title {
  margin-bottom: 20px;
  font-weight: 700;
}

.description {
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 1.7;
}


@media screen and (min-width: 992px) {
  .master-page-title {
    text-align: right;
    font-size: 1.75rem;
    margin-bottom: 100px;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1400px) {
  .master-page-title {
    font-size: 2.2rem;
  }

  .title {
    font-size: 1.75rem;
  }
}
