.main-section {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #eee;
  color: #666;
}

.right-column {
  margin-bottom: 4rem;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 9rem);
}

.success-text {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.5;
  color: #0da00d;
}

@media screen and (min-width: 768px) {
  .main-section {
    padding-top: 5rem;
  }

  .right-column {
    margin-bottom: 0;
  }
}
