.layout {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0;
}

.login-box {
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 15px rgba(05, 50, 50, 0.2);
  background-color: #ffffff;
}

.row {
  align-items: center;
}

.form-section {
  position: relative;
  order: 2;
}

.logo-section {
  order: 1;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: calc(1.325rem + .9vw);
}

.phone {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.form-control-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 250px;
  margin: auto;
  font-size: 1.5rem;
}

.form-control {
  direction: ltr;
  border-color: #e6e6e6;
  border-radius: 50px;
  text-align: center;
  font-size: 1.3rem;
  margin: 5px 0;
  padding: 0 3rem;
  height: 50px;
  background-color: #e6e6e6;
  transition: background-color 0.15s ease-out, border-color 0.15s ease-out;
}

.form-control:focus {
  box-shadow: unset!important;
  border: 1px solid #ddd;
  color: #888888;
}

.form-control:focus::-moz-placeholder,
.form-control:focus::-webkit-input-placeholder,
.form-control:focus::placeholder {
  opacity: 0;
}

.form-control.border-red {
  border: 1px solid #e74c3c;
}

.form-control-icon {
  position: absolute;
  left: 1.2rem;
  opacity: 80%;
}

.terms {
  font-size: 1rem;
}

.error {
  margin: 2px 0 5px;
  font-size: 1rem;
  text-align: center;
  color: #e74c3c;
}

.error:before {
  content: '*';
  margin-left: 5px;
}

.login-btn {
  border: none;
  border-radius: 50px;
  width: 250px;
  height: 50px;
  font-size: 1.2rem;
  margin-top: 15px;
  background-color: #57b845;
}

.login-btn:hover {
  background-color: #57b845;
}

.login-btn:active {
  background-color: #57b845;
}

.login-btn:focus {
  background-color: #57b845;
  box-shadow: unset;
}

.link {
  width: fit-content;
  margin: 20px auto;
  text-align: center;
  font-size: 1.2rem;
  color: #cacaca;
}

.link:hover {
  color: #ababab;
}

.error-message {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  right: 0;
  font-size: 1rem;
  text-align: center;
  color: #e74c3c;
}

.error-message span {
  margin-right: 10px;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.checkbox-input {
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

@media screen and (min-width: 420px) {
  .form-control-container {
    width: 300px;
  }

  .login-btn {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .login-box {
    padding: 25px;
  }

  .form-control {
    font-size: 1.2rem;
  }

  .login-btn {
    font-size: 1.1rem;
  }

  .link {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  .login-box {
    padding: 120px 50px;
  }

  .form-section {
    order: 1;
  }

  .error, .error-message {
    font-size: 0.8rem;
  }

  .error-message {
    bottom: -3rem;
  }

  .logo-section {
    order: 2;
    margin-bottom: unset;
  }

  .form-control-container {
    width: 350px;
  }

  .login-btn {
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .login-box {
    padding: 150px 50px;
  }
}
