.body {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #eee;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;
  padding-top: 2rem;
  color: #636464;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.search-container {
  width: 100% !important;
  max-width: 45rem;
  margin: 40px auto 15px;
  padding: 0 15px;
}

.search-input {
  padding: 1rem 2rem;
  text-align: center;
  background-color: #fff;
  font-size: 1.1rem;
  border: none;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.1);
}

.search-input::placeholder {
  color: #000000;
  opacity: 40%;
}

.search-icon {
  right: calc(50% - 11.2rem);
  opacity: 50%;
  transition: right 0.2s ease-out;
}

.search-container:focus-within .search-icon, .search-text-non-empty .search-icon {
  right: 2.5rem;
}
