.row {
  margin: 0;
}

.row > * {
  padding: 0;
}

.banner {
  text-align: center;
  order: 1;
}

.not-banner {
  order: 2;
}

.content {
  margin: auto;
  padding: 50px 30px;
  background-color: #ffffff;
  text-align: center;
  max-width: 100%;
}

.title {
  margin-bottom: 25px;
  color: #6c6666;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
}

.text {
  font-size: 1.3rem;
}

.text b {
  font-size: 1.4rem;
}

.banner .img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  //border-radius: 50% / 25%;
}

.points {
  padding: 50px 25px;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.pre {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pre-border-right {
  height: 20px;
  border-right: 5px solid #b7b7bd;
}

.pre-red-point {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 3px 5px;
  background-color: #ef394e;
}

.red {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ef394e;
}

.dimensions {
  padding: 50px 25px;
}

.item-col-right , .item-col-left {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.item-col-right .text , .item-col-left .text {
  order: 2;
  font-size: 1rem;
  color: #6c6666;
}

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:20px solid #6c6666;
  margin-left: 10px;
}

.left-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:20px solid #6c6666;
  margin-left: 10px;
}

.facility {
  padding: 50px 15px;
}

.facility-two .title {
  font-size: 1.3rem;
  line-height: 2rem;
}

.facility .item {
  margin: 15px 0;
}

.facility .img {
  width: 20px;
  margin-left: 10px;
}

.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 50px 0;
  background: linear-gradient(90deg, #30396e, #0394f7);
}

.banner-section .title {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #ffffff;
}

.banner-section .img {
  width: 150px;
}

.plan-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  border: 2px solid #4d13d1;
  border-radius: 5px;
}

.card .head {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0;
}

.card .price {
  padding: 14px 20px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: gold;
  color: #171b59;
}

.card .red {
  margin-right: 0.35rem;
  color: #ef394e;
  font-size: 1.5rem;
}

.card .text {
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: center;
}

.card .link {
  padding: 8px 48px;
  margin: 10px 0;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
  background-color: gold;
  color: #171b59;
}

.business-contact {
  margin-top: 2.5rem;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-align: center;
}

.contact-icon {
  width: 2rem;
  margin: 0.2rem 0.3rem 0.7rem;
}
.contact-icon:last-child {
  margin-left: 2rem;
}

@media screen and (min-width: 420px) {
  .content {
    padding: 50px 0;
    max-width: 320px;
  }

  .title {
    font-size: 1.7rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .points {
    padding: 50px 20px;
  }

  .dimensions {
    padding: 50px 20px;
  }

  .banner .img {
    height: 220px;
  }

  .card {
    padding: 25px;
  }

  .card .link {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 576px) {
  .content {
    max-width: 400px;
  }

  .title {
    font-size: 1.8rem;
  }

  .text {
    font-size: 1.25rem;
  }

  .banner .img {
    height: 280px;
  }

  .dimensions {
    margin: auto;
    padding: 50px 0;
    width: 460px;
  }

  .item-col-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .item-col-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .item-col-left .text , .item-col-right .text{
    order: unset;
  }

  .right-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:20px solid #6c6666;
    margin-left: 5px;
  }

  .left-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #6c6666;
    margin-right: 5px;
    border-right: unset;
    margin-left: unset;
  }

  .facility {
    padding: 50px 25px;
  }

  .facility .text {
    font-size: 1rem;
  }

  .banner-section .title {
    width: 500px;
  }

  .plan-section {
    padding: 30px;
  }

  .card .link {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 500px;
  }

  .title {
    font-size: 1.7rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .banner .img {
    height: 300px;
  }

  .dimensions {
    margin: auto;
    padding: 50px 0;
    width: 520px;
  }

  .banner-section .title {
    width: 550px;
    font-size: 1.2rem;
  }

  .banner-section .img {
    width: 220px;
  }
  .card .link {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    order: unset;
  }

  .banner .img {
    height: 300px;
  }

  .not-banner {
    order: unset;
  }

  .content {
    padding: 0;
    width: 310px;
  }

  .content.right {
    margin: 45px auto auto 40px;
  }
  .title {
    font-size: 1.27rem;
    font-weight: 800;
    opacity: 85%;
  }

  .text {
    font-size: 0.78rem;
    line-height: 1.3rem;
  }

  .banner .img {
    height: 300px;
  }

  .points {
    padding: 0;
    width: 360px;
  }
  .points.left {
    margin: 25px 15px -20px auto;
  }

  .points .title {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }

  .points .text {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .points .text b {
    font-size: 0.9rem;
  }

  .dimensions {
    margin: auto;
    padding: 0;
    width: 350px;
  }

  .dimensions .items {
    margin: -10px auto;
  }

  .dimensions.right {
    margin: 15px auto auto 50px;
  }

  .dimensions .title {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .red {
    font-size: 1.5rem;
  }

  .dimension-row {
    margin: -10px 0;
  }
  .dimensions .text {
    font-size: 0.8rem;
    line-height: 1.45;
  }

  .facility {
    padding: 0;
    width: 420px;
  }

  .facility.left {
    margin-left: auto;
    margin-right: 4%;
  }

  .facility .item {
    margin: 20px 0;
  }

  .facility .pre .img {
    width: 25px;
  }

  .facility .text {
    font-size: 0.8rem;
    font-weight: 700;
  }

  .facility-two.right {
    margin: 10px auto auto 10px;
  }

  .facility-two .title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 5px;
  }

  .facility-two .item {
    margin: 7px 0;
  }

  .banner-section {
    height: 300px;
  }

  .banner-section .title {
    width: 550px;
    font-size: 1.1rem;
  }

  .banner-section .img {
    width: 220px;
  }

  .plan-section .title {
    font-size: 1.2rem;
  }

  .card {
    padding: 15px;
  }

  .card .head {
    font-size: 1rem;
  }

  .card .text {
    font-weight: 500;
  }

  .card .text b {
    font-size: 0.95rem;
  }

  .card .link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    width: 425px;
  }

  .content.right {
    margin: 50px auto auto 45px;
  }

  .title {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .text {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .banner .img {
    height: 350px;
  }

  .points {
    width: 415px;
  }
  .points.left {
    margin: 30px 20px auto auto;
  }

  .points .title {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .dimensions {
    width: 450px;
  }

  .dimensions.right {
    margin: 20px auto auto 50px;
  }

  .dimensions .title {
    font-size: 1.4rem;
  }

  .facility {
    width: 500px;
    padding-top: 10px;
  }

  .facility .item {
    margin: 21px 0;
  }

  .facility .pre .img {
    width: 30px;
  }

  .facility-two .item {
    margin: 10px 0;
  }

  .banner-section {
    padding: 30px 0 0;
    height: 350px;
    justify-content: space-between;
  }

  .banner-section .title {
    width: 580px;
    font-size: 1.15rem;
  }

  .banner-section .img {
    width: 250px;
  }

  .plan-section .title {
    font-size: 1.4rem;
  }

  .card .link {
    font-size: 0.9rem;
  }

  .card .text {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1400px) {
  .banner .img {
    height: 500px;
  }

  .content {
    max-width: unset;
    width: 620px;
  }

  .content.right {
    margin: 70px auto auto 70px;
  }

  .title {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .text {
    font-size: 1.45rem;
    line-height: 2rem;
  }

  .points {
    width: 600px;
  }

  .points.left {
    margin: 50px 30px auto auto;
  }

  .points .title {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

  .pre-border-right {
    height: 30px;
  }

  .pre-red-point {
    width: 40px;
    height: 40px;
    margin: 8px;
  }

  .points .text {
    font-size: 1rem;
  }

  .points .text b {
    font-size: 1.1rem;
  }

  .dimensions {
    width: 600px;
  }

  .dimensions.right {
    margin-left: 70px;
  }

  .dimensions .title {
    font-size: 1.9rem;
    margin-bottom: 25px;
  }
  .red {
    font-size: 2rem;
  }
  .dimensions .text {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .facility {
    width: 750px;
    padding-top: 30px;
  }

  .facility .item {
    margin: 30px 0;
  }

  .facility .pre .img {
    width: 40px;
  }

  .facility .text {
    font-size: 1.1rem;
  }

  .facility-two {
    width: 735px;
  }

  .facility-two.right {
    margin: 10px auto auto 30px;
  }

  .facility-two .title {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 0;
  }

  .facility-two .item {
    margin: 18px 0;
  }

  .banner-section {
    padding: 50px 0 0;
    height: 500px;
    justify-content: space-between;
  }

  .banner-section .title {
    width: 850px;
    font-size: 1.7rem;
    line-height: 2.5rem;
  }

  .banner-section .img {
    width: 400px;
  }

  .plan-section {
    padding: 30px 0;
    height: 750px;
  }

  .plan-section .title {
    font-size: 1.9rem;
  }

  .card {
    padding: 40px 25px;
  }

  .card .head {
    font-size: 1.8rem;
  }

  .card .price {
    padding: 14px 20px;
  }

  .card .price .red{
    font-size: 1.6rem;
  }

  .card .link {
    font-size: 1.2rem;
  }

  .card .text {
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .card .text b {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .card .text .red {
    font-size: 1.8rem;
    font-weight: 800;
  }
}
