.main {
  padding: 4rem 0;
  background-color: #f7f7f7;
}

.card {
  min-height: 300px;
  padding: 5rem 2rem 2rem;
  line-height: 30px;
  text-align: justify;
  font-size: 1.1rem;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  background-color: white;
}

.title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.85rem;
  line-height: 30px;
}

.paragraph,
.inner-paragraph {
  margin: 2rem 0;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 30px;
}

.paragraph {
  padding-right: 2rem;
}

.second-title {
  margin: 3.5rem 0 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.email {
  font-size: 1.2rem;
}

.rule-list-item {
  color: #000;
}

.rule-list-item:hover {
  color: #000;
}

.rule {
  padding: 3rem 0 1rem;
}

.rule-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.rule-item {
  margin-bottom: 1rem;
  list-style-type: persian;
}