.credit {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.credit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 275px;
  padding: 2rem 4rem;
  border-top: 7px solid;
  border-image: linear-gradient(to left, #044274, #0884e8) 1;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  color: #254c82;
}

.title {
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.credit-count {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.credit-count-num {
  margin-left: 5px;
}

.credit-increase {
  width: 120px;
  padding: 7px 15px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
  font-size: 0.9rem;
  background-image: linear-gradient(to left, #065a9e, #087edd);
  color: #ffffff;
}

@media screen and (min-width: 576px){
  .credit {
    height: 250px;
  }

  .credit-card {
    width: 350px;
  }
}

@media screen and (min-width: 768px){
  .credit {
    height: 300px;
  }

  .credit-increase {
    width: 150px;
  }
}

@media screen and (min-width: 992px){
  .credit {
    height: 400px;
  }
}

@media screen and (min-width: 1200px){
  .credit-card {
    width: 400px;
  }
}
//
//@media screen and (min-width: 1400px){
//  .credit {
//    height: 500px;
//  }
//}