.main {
  position: relative;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0 0.5rem;
}

.top-right-icon {
  margin-left: 8px;
  margin-top: 1px;
  font-size: 1.1rem;
}

.top-left-icon {
  margin-left: 5px;
  font-size: 1.2rem;
}

.title-text {
  display: flex;
  align-items: flex-start;
}

.title {
  margin-bottom: 0;
}

.top-stats-text {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.icon {
  margin-left: 2px;
  font-size: 1.2rem;
}

.search {
  max-width: 500px;
  margin: 2rem auto 1rem;
}

.search-field {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  box-shadow: 0 2px 3px rgba(100, 100, 100, 0.1);
  border: none;
}

.webinars {
  position: relative;
  margin-top: -1rem;
  margin-bottom: 5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.1);
  z-index: 10;
}

.loader-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
}

.no-sell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.no-sell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: #fcc314;
  color: #294c83;
}

.no-sell-icon {
  font-size: 1.5rem;
  margin-left: 8px;
}

.table {
  margin-top: 2rem;
  text-align: center;
  vertical-align: middle;
  border-radius: .85rem;
  overflow: hidden;
  font-size: .85rem;
  box-shadow: 0 4px 15px rgb(149 157 165 / 15%);
}

.table-head {
  background-image: linear-gradient(to left , #044274, #0884e8);
  color: #ffffff;
}

.table-last-row {
  background-color: #D6EAF8;
  color: #2874A6;
  font-weight: bold;
  height: 3rem;
}

.table-webinar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

.table-webinar-logo {
  width: 25px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.table-webinar-title-text {
  text-align: right;
  cursor: default;
}

.copy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.4rem 1rem;
  margin: auto;
  border-radius: 50px;
  font-size: 0.8rem;
  cursor: pointer;
  background-image: linear-gradient(270deg,#0460ac,#0c79d3);
  color: #fff;
}

.hidden-page-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .top-right-icon {
    margin-top: 3px;
  }

  .copy-link {
    max-width: 100px;
  }
}