.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.brand-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 275px;
  padding: 2rem;
  margin-top: 2rem;
  border-top: 7px solid;
  border-image: linear-gradient(to left, #044274, #0884e8) 1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  color: #254c82;
}

.logo {
  position: absolute;
  top: -35px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.logo-img {
  width: 70px;
  border-radius: 50%;
}

.title {
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 0.9rem;
  text-align: center;
}

.copy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: auto;
  margin-top: 2rem;
  border-radius: 50px;
  font-size: 0.9rem;
  cursor: pointer;
  background-image: linear-gradient(270deg, #0460ac, #0c79d3);
  color: #fff;
}
.copy-link:last-child {
  margin-top: 1rem;
}
.copy-link:hover {
  background-image: linear-gradient(270deg, #0471ac, #0ca5d3);
}

.icon {
  margin-left: 2px;
  font-size: 1.3rem;
}

.hidden-page-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0;
  z-index: -1;
}

.stats-title {
  margin-top: 2rem;
  color: #0562af;
}

.stats-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 350px;
  padding: 1rem;
}

.stats-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: #0562af;
}

.stats-text {
  font-size: 1.2rem;
}

.stats-icon {
  font-size: 2.75rem;
}

.table {
  margin-top: 1rem;
  max-width: 500px;
  text-align: center;
  vertical-align: middle;
  border-radius: .85rem;
  overflow: hidden;
  font-size: .85rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.table-head {
  background-image: linear-gradient(to left , #044274, #0884e8);
  color: #ffffff;
}

@media screen and (min-width: 576px){
  .brand-card {
    width: 350px;
  }
}

@media screen and (min-width: 768px){
  .title {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1200px){
  .brand-card {
    width: 400px;
  }
}
