.transactions {
  position: relative;
  margin: 0 -10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #4a6a97;
}

.search {
  position: relative;
  margin-bottom: 1rem;
}

.search-text {
  width: 100%;
  padding-right: 2.5rem;
  border: none;
  border-radius: 50px;
  background-color: #f3f3f3;
}

.search-text::placeholder {
  color: #4a6a97;
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
}

.show-row-count {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 0.8rem;
  background-color: #f3f3f3;
}

.select {
  margin: 0 10px;
  padding: 2px 5px;
  cursor: pointer;
  color: #4a6a97;
}

.table {
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.85rem;
  overflow: hidden;
  font-size: 0.85rem;
  box-shadow: 0 4px 15px rgba(149, 157, 165, 0.15);
}

.table-head {
  background-image: linear-gradient(to left , #044274, #0884e8);
  color: #ffffff;
}

.table-head th {
  padding: 15px 0;
}

.table-head tr:last-child th:first-child {
  border-top-right-radius: 10px;
}

.table-head tr:last-child th:last-child {
  border-top-left-radius: 10px;
}

.table-body {
  padding: 1rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table-body td {
  padding: 15px 8px;
}

.table-body-row:nth-child(2n) {
  background-color: #f0f0f0;
}

.payment-success {
  font-weight: bold;
  color: #008b00;
}

.payment-fail {
  font-weight: bold;
  color: #dc0a0a;
}

.table-data-counter {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  color: #4a6a97;
}

.table-data-counter .span {
  margin: 0 2px;
}

.not-found {
  padding: 2rem 0;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  border: 1px solid #eeeeee;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #4a6a97;
}

@media screen and (min-width: 576px) {
  .transactions {
    margin: 0;
  }
  .header {
    flex-direction: row;
  }
}