.main {
  padding: 1rem 0;
  color: #254c82;
}

.form {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-weight: 800;
  margin-bottom: 0;
}

.change-pass-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #0884e8;
}

.icon {
  margin-right: 5px;
}

.form-control-container {
  position: relative;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-label {
  margin-bottom: 0;
  color: #254c82;
}

.form-control {
  border-color: #e6e6e6;
  margin: 5px 0;
  direction: rtl;
  border-radius: 8px;
  text-align: right;
  background-color: #fcfcfc;
  color: #666666;
  transition: background-color 0.15s ease-out, border-color 0.15s ease-out;
}

.form-control:focus {
  box-shadow: unset!important;
  border: 1px solid #ddd;
}

.form-control:disabled {
  border-color: white !important;
}

.form-control.border-red {
  border: 1px solid #e74c3c;
}

.error {
  margin: 2px 0 5px;
  font-size: 1rem;
  text-align: center;
  color: #e74c3c;
}

.error:before {
  content: '*';
  margin-left: 5px;
}

.edit-btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  min-height: 35px;
  height: auto;
  font-size: 1.2rem;
  margin-top: 15px;
}

.edit-btn {
  float: left;
  background-image: linear-gradient(to right , #087fdf , #05599c);
}

.error-message {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  right: 0;
  font-size: 1rem;
  text-align: center;
  color: #e74c3c;
}

.error-message span {
  margin-right: 10px;
}

@media screen and (min-width: 576px) {
  .main {
    padding: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .error, .error-message {
    font-size: 0.8rem;
  }

  .error-message {
    bottom: -3rem;
  }

  .edit-btn {
    min-height: 40px;
    height: auto;
  }
}
