.team-page {
  background-color: #f5f5f5;
}

.img {
  width: 100%;
  height: auto;
}

.team-story-section {
  background-color: #ffffff;
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-member-section {
  background-color: #f5f5f5;
  padding-top: 40px;
}

.title {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 2rem;
}

.subtitle {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.7;
}

@media screen and (min-width: 576px) {
  .team-member-section {
    padding-top: 50px;
  }

  .title {
    font-size: 1.65rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .team-member-section {
    padding-top: 60px;
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .team-member-section {
    padding-top: 75px;
  }

  .team-story-section {
    padding-bottom: 10px;
    padding-top: 60px;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 30px;
  }
}
