.main {
  position: fixed;
  left: 1rem;
  bottom: 1.5rem;
  padding: 0.9rem;
  border-radius: 50%;
  background-color: #1c54b1;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
  cursor: pointer;
  z-index: 400;
}

.hide {
  transform: translateY(200px);
}

.icon {
  font-size: 1.4rem;
  color: white;
}

@media screen and (min-width: 768px) {
  .main {
    left: 1.3rem;
    bottom: 1.5rem;
    padding: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .main {
    left: 1.4rem;
    bottom: 1.8rem;
  }
}