.button-hor-padded {
  padding-left: 1rem!important;;
  padding-right: 1rem!important;;
  white-space: nowrap!important;;
}

.exit {
  margin-left: 0.5rem!important;;
  padding-left: 0.75rem!important;;
  padding-right: 0.75rem!important;;
}

.user-profile-btn {
  padding: 7px 15px!important;;
  font-size: 1rem!important;;
  font-weight: bold!important;;
  background-color: #254c82!important;;
  color: #ffffff!important;;
  white-space: nowrap!important;;
  border: none!important;;
}

.user-profile-btn:hover {
  background-color: #255290!important;;
}

.user-profile-btn:focus {
  box-shadow: none!important;
}

.admin-btn {
  display: none!important;;
  margin-left: 0.6rem!important;;
  padding: 8px 12px!important;;
  font-size: 0.9rem!important;;
}

@media screen and (min-width: 420px) {
  .admin-btn {
    display: initial!important;;
  }
}

@media screen and (min-width: 768px) {
  .button-hor-padded {
    padding-left: 1.5rem!important;;
    padding-right: 1.5rem!important;;
  }

  .user-profile-btn {
    padding: 7px 25px!important;;
  }

  .admin-btn {
    padding: 8px 20px!important;;
  }
}

@media screen and (min-width: 992px) {
  .button-hor-padded {
    padding-left: 2rem!important;;
    padding-right: 2rem!important;;
  }

  .user-profile-btn {
    padding: 10px 25px!important;;
  }

  .admin-btn {
    padding: 11px 23px!important;;
  }
}
