.datetime-display {
  margin: 0 1rem!important;;
  font-size: 1rem!important;;
  font-weight: normal!important;;
}

.top-row {
  text-align: center!important;;
  margin-bottom: 0.2rem!important;;
  font-weight: bold!important;;
}

.bottom-row {
  font-size: 0.8rem!important;;
  text-align: center!important;;
  color: #68a!important;;
}
