.main-container {
  min-height: 4.2rem;
  padding: 0.2rem 1rem;
  background: linear-gradient(90deg, #2e4469, #5c79a3);
}

.contacts {
  margin: 0.5rem 0;
  align-items: center;
  color: white;
}

.contact-item {
  margin: 0.5rem 0;
  font-size: 1.05rem;
  text-align: center;
}

.link {
  display: block;
  margin-bottom: 0.15rem;
  font-size: 0.9rem;
  color: white;
}

.social-media-container {
  margin: 0.5rem 0;
  text-align: center;
}

.social-media-title {
  font-size: 0.9rem;
}

.social-media-links {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  max-width: 220px;
}

.social-media-icon {
  width: 25px;
  filter: invert(1);
}

@media screen and (min-width: 768px) {
  .social-media-title {
    font-size: 0.85rem;
  }

  .contact-item {
    font-size: 0.85rem;
  }

  .social-media-title {
    font-size: 0.85rem;
  }
}
