.main-container {
  padding-top: 2rem;
  background-image: linear-gradient(to bottom , #106aca , #242b83);
  color: #ffffff;
}

.top-section {
  margin-bottom: 1rem;
}

/* BlogFooter right section */

.main-title {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.description {
  margin-bottom: 3.5rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.links-container {
  display: flex;
  justify-content: space-between;
}

.tags-column {
  max-width: 66%;
}

.tags-container {
  color: #333;
}

.tag {
  margin: 0 0 0.3rem 0.3rem !important;
  padding: 0.25rem 0.6rem !important;
  border-radius: 3px !important;
  line-height: 1.5;
  font-size: 0.8rem !important;
  font-weight: 400;
  background-color: #1775d0 !important;
  color: #ffffff !important;
}

.tag a {
  color: #ffffff!important;
}

.tag:hover {
  background-color: #3492ec !important;
}

.links-column {
  text-align: center;
}

.link-title {
  margin-bottom: 1.25rem;
  font-size: 1rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #0f6acb;
}

.link {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.8rem;
  color: #c2ccec;
}

.link:hover {
  color: white;
  opacity: 0.8;
}

.social-media-icon {
  width: 25px;
  filter: invert(1);
}

/* BlogFooter left section */

.col-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  padding-top: 1.6rem;
  text-align: center;
}

.subscribe-title {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

.subscribe-container {
  width: 250px;
  margin: 0 auto 2rem;
}

.subscribe-input {
  width: 100%!important;
  height: 40px;
  padding-left: 85px;
  border: none !important;
  border-radius: 7px!important;
}

.subscribe-input::placeholder {
  font-size: 0.8rem;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute!important;
  left: 5px;
  top: 5px;
  width: 75px;
  height: 30px;
  border: none!important;
  border-radius: 5px!important;
  outline: none!important;
  z-index: 5!important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.9rem;
  background-color: #22338b;
}

.social-media-container {
  margin-bottom: 1.5rem;
  text-align: center;
}

.social-media-title {
  font-size: 1.1rem;
  margin-bottom: 1.25rem;
}

.social-media-links {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.social-media-icon {
  width: 30px;
  font-size: 1.8rem;
  opacity: 0.7;
  color: #ffffff;

  &-instagram {
    @extend .social-media-icon;
    font-size: 1.8rem;
  }

  &-linkedin {
    @extend .social-media-icon;
    font-size: 1.7rem;
  }

  &-youtube {
    @extend .social-media-icon;
    font-size: 2.2rem;
  }

  &-aparat {
    @extend .social-media-icon;
    font-size: 1.5rem;
  }
}

.social-media-icon:hover {
  opacity: 1;
}

.social-media-icon:active {
  opacity: 0.5;
}

.trust-seals-text {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.15rem;
}

.trust-seals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}

.trust-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 110px;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  background-color: #ffffff;
}

.trust-logo {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.certificates-link {
  display: block;
  margin: 0.5rem auto;
  font-size: 1rem;
  color: white;
}

.certificates-link:first-of-type {
  margin-top: 1.5rem;
}

.certificates-link:last-child {
  margin-bottom: 1.5rem;
}

.certificates-link:hover {
  color: #88adff;
}

/* BlogFooter bottom sections */

.contacts-container {
  color: white;
}

.contacts {
  flex-direction: column;
  position: relative;
  padding: 1.3rem 1rem;
}

.contact-item {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.copyright-container {
  background-color: #0c206a;
}

.copyright-text {
  padding: 0.7rem 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.contact-item-email, .contact-item-email:hover {
  color: #fff;
}


@media screen and (min-width: 576px) {
  .subscribe-container {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .col-right {
    padding-left: 2.5rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .col-left {
    display: block;
    margin: 0;
  }

  .subscribe-container {
    width: 90%;
  }

  .subscribe-title {
    font-size: 0.9rem;
  }

  .social-media-container {
    text-align: inherit;
  }

  .social-media-title {
    font-size: 0.95rem;
  }

  .social-media-links {
    display: flex;
  }

  .social-media-icon {
    width: 35px;
  }

  .contacts {
    flex-direction: row;
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 992px) {
  .col-left {
    padding-right: 4rem;
  }

  .col-right {
    padding-left: 5rem;
  }

  .subscribe-container {
    width: 75%;
  }

  .social-media-title {
    font-size: 0.85rem;
  }

  .social-media-links {
    width: 65%;
  }

  .trust-logo:not(:last-child) {
    margin-left: 0.5rem;
  }


}

@media screen and (min-width: 1200px) {
  .social-media-links {
    width: 50%;
  }

  .subscribe-container {
    width: 65%;
  }

  .contacts {
    font-size: 0.95rem;
  }
}
