.main {
  background-color: #f7f7f7!important;
}

.header-container {
  padding: 1rem!important;
  background-color: #fff!important;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1)!important;
}

.header {
  position: static !important;
  height: 5rem!important;
}

.header-item {
  margin-right: 2rem!important;
  margin-left: 1rem!important;
  font-size: 1rem!important;
  font-weight: bold!important;
  color: #254c82!important;
}

.header-item:hover {
  color: #3363a5!important;
}

.header-left-buttons {
  white-space: nowrap!important;
}

.header-brand-text {
  display: none!important;
  font-weight: bold!important;
  font-size: 1.2rem!important;
}

.header-logo {
  width: 2.8rem!important;
}

.search-container {
  z-index: 500 !important;
  max-width: 28rem!important;
}

.header-search, .header-time {
  margin: 0 5px!important;
  font-size: 1rem!important;
  font-weight: bold!important;
  color: #254c82!important;
}

.search-input {
  max-width: 28rem!important;
  height: 3.2rem!important;
  padding-right: 1.5rem !important;
  padding-left: 2.8rem!important;
  border: none!important;
  border-radius: 2rem!important;
  font-size: 1.1rem!important;
  background-color: #f6f6f6!important;
  color: #254c82!important;
}

.search-input::placeholder {
  font-weight: bold!important;
  color: #254c82!important;
}

.search-input:focus {
  box-shadow: unset!important;
  background-color: #eaeaea!important;
}

.search-icon {
  right: unset!important;
  left: 1.2rem!important;
  font-size: 1.5rem!important;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 4rem!important;
  }

  .header-item {
    position: relative!important;
  }

  .header-brand-text {
    display: initial!important;
  }

  .search-input {
    height: 3rem!important;
    font-size: 1rem!important;
  }
}
