.main {
  padding: 1.15rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.danger {
  color: white;
  background: #ff4f4f;
}

.warning {
  color: black;
  background: #ffcc46;
}

.info {
  color: white;
  background: #4f9de2;
}