.main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main:not(.abstract .main), .abstract {
    background: linear-gradient(90deg, #0f7cd3, #235395);
}

@media screen and (min-width: 768px) {
    .main:not(.abstract .main), .abstract {
        background: linear-gradient(90deg, #0884e8, #254c82);
    }
}

@media screen and (min-width: 1200px) {
    .main:not(.abstract .main), .abstract {
        background: linear-gradient(90deg, #0394f7, #30396e);
    }
}
