.asanseminar {
  font-size: 1.1rem;
  font-weight: bold;
  color: #335599;
}
.asanseminar:hover {
  color: #3d66b4;
}
.asanseminar:active {
  color: #2e4c89;
}

.header-meetings-flashing,
.header-meetings {
  display: inline-flex !important;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
  margin-right: 0;
  padding: 10px 1rem;
  border-radius: 50px;
  font-weight: 700;
  background-color: gold;
  color: #333 !important;
}

.header-meetings:hover, .header-meetings:active {
  background-color: #ffdc26;
}

.header-meetings-flashing {
  font-size: 0.9rem;
  width: 13rem;
  background-color: #ff2d55;
  color: white !important;
}

.header-meetings-flashing:hover, .header-meetings-flashing:active {
  background-color: #df1a32;
}

.briefcase-animation {
  animation-name: fade-in-out;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.arrow-animation {
  font-size: 1rem;
  animation-name: bounce-left;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes bounce-left {
  0%, 51% {
    transform: translateX(0);
  }
  62% {
    transform: translateX(-0.9rem);
  }
  81% {
    transform: translateX(0.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
