.row {
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 65px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 4rem;
}

.bg-light {
  background-color: #f5f5f5;
}

@media screen and (min-width: 992px) {
  .row {
    --bs-gutter-x: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .row {
    --bs-gutter-x: 7rem;
  }
}

@media screen and (min-width: 1400px) {
  .row {
    --bs-gutter-x: 8rem;
  }
}
