.connect-line {
  position: relative;
  top: 25px;
  margin: auto;
  width: calc(100% - 20px);
  border-bottom: 1px solid #bfbfbf;
  z-index: 1;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px!important;
  z-index: 2;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #4d13d1;
  border-radius: 50% !important;
  padding-top: 7px;
  font-weight: bold;
  font-size: 1.3rem;
  color: #000000;
  background-color: #ffffff;
}

.tab:hover {
  color: #000000;
}

.tabs-content {
  align-items: flex-start;
  padding: 0;
  margin-bottom: -15px;
}

.content {
  padding: 30px 10px;
  text-align: center;
}

.content-title-container {
  display: inline-block;
  margin-top: 1rem;
  vertical-align: middle;
}

.content-title {
  margin-bottom: 15px;
  font-weight: bold;
}

.content-image-container {
  display: inline-block;
  vertical-align: middle;
}

.img {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
}

@media screen and (min-width: 576px) {
  .tab {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .tab {
    font-size: 1.1rem;
  }
  .content {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 992px) {
  .connect-line {
    top: 35px;
  }

  .tab {
    width: 70px;
    height: 70px;
    font-size: 1.3rem;
  }

  .tabs-content {
    padding: 0 10px;
  }

  .content {
    font-size: 1rem;
    text-align: justify;
  }

  .content-title {
    margin-bottom: 25px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .content-title {
    font-size: 1.15rem;
  }
}

@media screen and (min-width: 1400px) {
  .connect-line {
    top: 42.5px;
    width: calc(100% - 20px);
  }

  .tabs {
    padding: 0 10px!important;
  }

  .tab {
    width: 85px;
    height: 85px;
    padding-top: 10px;
    font-size: 1.5rem;
  }

  .tabs-content {
    padding: 0;
  }

  .content {
    padding: 45px 0;
  }

  .content-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
}
