.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 275px;
  margin: auto;
}

.img {
  width: 100%;
  border-radius: 50%;
}

.body {
  margin-top: 15px;
  text-align: center;
}

.name {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.3rem;
}

.job {
  font-size: 1.1rem;
  opacity: 70%;
  margin-bottom: 15px;
}

.description {
  font-size: 1.1rem;
}

@media screen and (max-width: 991.98px) {
  .card-img-container {
    text-align: center;
  }

  .img {
    width: 85%;
  }
}

@media screen and (max-width: 575.98px) {
  .col {
    width: 50%;
  }
}

@media screen and (min-width: 576px) {
  .card {
    max-width: 275px;
  }

  .name {
    font-size: 1.3rem;
  }

  .job {
    font-size: 1.1rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 1.05rem;
  }

  .job {
    font-size: 0.95rem;
  }

  .description {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 992px) {
  .card {
    max-width: unset;
  }

  .name {
    font-size: 0.9rem;
  }

  .job {
    font-size: 0.8rem;
  }

  .description {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .name {
    font-size: 1rem;
  }

  .job {
    font-size: 0.85rem;
  }

  .description {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1400px) {
  .name {
    font-size: 1.15rem;
  }

  .job {
    font-size: 1rem;
  }

  .description {
    font-size: 1rem;
  }
}
