.blog-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -50px;
  width: 100%;
  padding: 15px 25px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
  color: #9a9a9a;
}

.call-text {
  margin-bottom: 5px;
  font-weight: bold;
  color: #254e94;
}

.other-text {
  font-size: 0.9rem;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.email{
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.email-link, .email-link:hover {
  color: #9a9a9a;
}

.phone {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px){
  .footer {
    flex-direction: row;
    text-align: unset;
    border-radius: 8px;
    top: -35px;
    max-width: 700px;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    top: -40px;
    max-width: 900px;
  }
}