.header {
  padding: 2rem 0;
  background-image: linear-gradient(to top , #253188 , #226bbd);
}

.navbar {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #315dad;
  color: #ffffff!important;
}

.brand {
  width: 50px;
}

.toggle {
  border-color: #ffffff!important;
}

.toggle:focus {
  box-shadow: 0 0 0 0!important;
}

.nav {
  display: flex;
  justify-content: center;
  color: #ffffff !important;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 1.2rem;
  color: #ffffff!important;
}

.icon {
  font-size: 1.3rem;
  margin-left: 5px;
}

.dropdown > a::after {
  display: none;
}

.dropdown-items {
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 5px;
  border-top: 6px solid #fcc314;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
}

.sub-item {
  padding: 10px;
  font-weight: bold;
  background-color: #ffffff!important;
  color: #253c92!important;
}

.sub-item:hover {
  background-color: #efefef!important;
  color: #fbc955!important;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.input {
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  padding-left: 2.5rem;
  direction: rtl;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  background-color: #315dad;
  color: #ffffff;
}

.input::placeholder {
  color: #ffffff;
}

.input:focus {
  box-shadow: none;
  border-color: #ffffff;
  background-color: #315dad;
  color: #ffffff;
}

.mob-search {
  position: absolute;
  left: 3rem;
  color: #ffffff;
}

.search , .close {
  display: none;
}

@media screen and (min-width: 992px){
  .navbar {
    height: 90px;
  }

  .nav {
    justify-content: flex-start;
    margin-right: 1.5rem;
  }

  .form {
    display: flex;
    align-items: center;
    position: absolute;
    width: 0;
    margin: 0 1.5rem;
    direction: ltr;
    left: 0;
    z-index: 1;
    transition: 0.5s ease;
  }

  .input {
    width: 100%;
    height: 3.5rem;
    padding: 0;
    direction: rtl;
  }

  .mob-search {
    display: none;
  }

  .search {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .close {
    font-size: 2rem;
    cursor: pointer;
    color: #ffffff;
  }

  .form.searching {
    width: calc(100% - 3rem);
    height: 100%;
    left: 0;
    transition: 0.5s ease;
  }

  .form.searching .input {
    padding: .375rem .75rem;
    padding-left: 3.5rem;
  }

  .form.searching .search {
    display: none;
  }

  .form.searching .close {
    display: block;
    position: absolute;
  }
}
