.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 180px;
  padding: 2rem 0;
  margin-bottom: 4rem;
  background-image: linear-gradient(to top , #253188 , #226bbd);
}

.navbar-box {
  position: relative;
  z-index: 10;
}

.navbar {
  position: absolute;
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #3488d5;
  color: #ffffff!important;
}

.brand {
  width: 50px;
}

.toggle {
  border-color: #ffffff!important;
}

.toggle:focus {
  box-shadow: 0 0 0 0!important;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  color: #ffffff !important;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 1.2rem;
  color: #ffffff!important;
}

.icon {
  font-size: 1.3rem;
  margin-left: 5px;
}

.dropdown > a::after {
  display: none;
}

.dropdown-items {
  position: absolute;
  top: 0;
  width: 100%;
  padding-bottom: 5px;
  border-top: 6px solid #fcc314;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
}

.sub-item {
  padding: 10px;
  font-weight: bold;
  background-color: #ffffff!important;
  color: #253c92!important;
}

.sub-item:hover {
  background-color: #efefef!important;
  color: #fbc955!important;
}

.organization-name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -2rem;
  color: #ffffff;
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
  bottom: -4.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-input {
  height: 5rem;
  padding-right: 3rem;
  padding-left: 9rem;
  outline: 0;
  box-shadow: 0 0 0 0;
  transition: unset;
}

.search-input:focus {
  border: 1px solid #ffffff;
  box-shadow: 0 0 0 0;
  color: unset;
  transition: unset;
}

.search-icon {
  position: absolute;
  right: 1rem;
  font-size: 1rem;
}

.search-btn {
  position: absolute;
  left: 1rem;
  padding: 8px 15px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #22338b;
  color: #ffffff;
}

@media screen and (min-width: 420px) {
  .search-input {
    padding-right: 4rem;
    padding-left: 10rem;
  }

  .search-icon {
    right: 2rem;
  }

  .search-btn {
    padding: 10px 25px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    height: 400px;
  }

  .navbar {
    height: 90px;
  }

  .nav {
    justify-content: flex-start;
    margin-right: 1.5rem;
  }

  .search-btn {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .search-form {
    bottom: -5rem;
  }

  .search-input {
    height: 6rem;
    padding-left: 13rem;
    font-size: 1.2rem;
  }

  .search-btn {
    padding: 15px 45px;
    font-size: 1.2rem;
  }
}
