.main-container {
  margin-bottom: 4rem;
}

.banner {
  border: unset;
  border-radius: 6px;
  background-color: #eee;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-body {
  padding: 0;
  border-radius: 6px;
}

.top-banner {
  margin-bottom: 1rem;
  border-radius: 6px;
}

.top-banner .img {
  object-fit: contain;
}

.top-banner-mobile-padding {
  padding: 0 5px;
}

.slider-btn-next, .slider-btn-prev {
  /*background-color: initial; /* This is a trick for these classes to be included in DOM */
  background-color: white;
  top: calc(50% - 1.1rem);
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  color: #5b5b5b;
}
.slider-btn-next:after, .slider-btn-prev:after {
  font-size: 1.2rem;
}

.slider-btn-next {
  right: -1rem;
}
.slider-btn-next:after {
  margin-left: 0.15rem;
}

.slider-btn-prev {
  left: -1rem;
}
.slider-btn-prev:after {
  margin-right: 0.15rem;
}

.right-banner {
  margin-bottom: 9px;
}

.left-banners {
  width: 100%;
}

.left-top-banner, .left-bottom-banner {
  width: 100%;
  height: 100%;
}

.left-top-banner {
  margin-left: 5px;
}

.left-bottom-banner {
  margin-right: 5px;
}

.bottom-banners {
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
}

.small-banners {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meetings-indicator-mobile {
  margin: 1.5rem auto;
  text-align: center;
}

.organizations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.organization-link {
  margin: 10px;
}

.organization-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media screen and (min-width: 576px) {
  .top-banner-mobile-padding {
    padding: 0;
  }

  .organization-link {
    margin: 0 15px;
  }

  .organization-img {
    width: 50px;
    height: 50px;
  }

  .bottom-banners {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .right-banner {
    margin-bottom: 0;
  }

  .small-banners {
    flex-direction: column;
  }

  .left-top-banner,
  .left-bottom-banner {
    margin: 0;
  }

  .left-top-banner, .left-bottom-banner {
    height: 48%;
  }
}

@media screen and (min-width: 1200px) {
  .organization-link {
    margin: 0 25px;
  }

  .organization-img {
    width: 60px;
    height: 60px;
  }
}