.section {
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.title {
  position: relative;
  margin: 0 auto 2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.cards-row {
  margin-bottom: 3rem;
}

.card-banner {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.225);
}

.card-body {
  padding: 0;
}

.card-banner {
  border: none;
  border-radius: 9px;
  overflow: hidden;
}

.img {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0.7em 2em;
  font-size: 1.1rem;
  background-color: #184fac;
  color: white !important;
  border: none;
}

.button-arrow {
  font-size: 1.3rem;
  margin-right: 0.6rem;
}

.button:hover, .button:active {
  background-color: #106aca;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 0.9rem;
  }

  .button-arrow {
    font-size: 1.1rem;
  }
}
