.section {
  padding-bottom: 4.5rem;
  padding-top: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 0 1.25rem;
}

.title {
  margin: 1.5rem 0 3rem 0;
  font-size: 1.7rem;
  font-weight: bold;
}

.swiper-main {
  position: relative;
  margin-bottom: 3rem;
}

.swiper-slide {
  display: flex;
  height: auto;
  margin-bottom: 1rem;
}

.slider-btn-next, .slider-btn-prev {
  background-color: initial;  /* This is a trick for these classes to be included in DOM */
}

.button {
  display: flex;
  align-items: center;
  padding: 0.9em 1.5em;
  background-color: #FCE205;
  border: none !important;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #FFD300;
}

.button h2 {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.5;
}

.button-arrow {
  display: none;
}

@media screen and (min-width: 420px) {
  .button h2 {
    font-size: 1.1rem;
  }

  .button-arrow {
    display: inline-block;
    font-size: 1.4rem;
    margin-right: 0.6rem;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 2.75rem;
  }

  .swiper-main {
    margin-bottom: 2rem;
  }

  .button h2 {
    font-size: 1rem;
  }

  .button-arrow {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .section {
    padding-bottom: 3.25rem;
  }

  .swiper-main {
    margin-bottom: 3rem;
  }
}

