.section {
  margin-top: 3rem;
  margin-bottom: 8rem;
  text-align: center;
}

.title {
  display: inline-block;
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.75rem;
  text-align: center;
  color: #ef394f;
}

.right {
  width: 80%;
  max-width: 340px;
  margin-bottom: 5rem;
}

.left {
  width: 100%;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .left {
    max-width: unset;
  }

  .right {
    width: 72.5%;
    max-width: unset;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 1.65rem;
  }

  .left-container {
    text-align: left;
  }

  .right-container {
    text-align: right;
  }

  .section {
    margin-top: 4.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 1.85rem;
  }

  .left {
    width: 95%
  }

  .right {
    width: 67.5%;
  }
}
