.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.logo-img {
  width: 100%;
}

.top-row, .middle-row, .middle-right, .middle-section, .middle-left, .bottom-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.top-row, .bottom-row {
  .logo-link {
    flex-basis: 10%;
    margin: 10px 5%;
  }

  .logo-link:nth-child(n+16) {
    display: none;
  }
}

.middle-row {
  .logo-link {
    flex-basis: 25%;
    margin: 10px 12.5%;
  }
}

.middle-right, .middle-left {
  flex-basis: 19.8%;
}

.middle-section {
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 3rem 2rem 4rem;
  text-align: center;
  white-space: nowrap;
}

.title {
  margin-bottom: 1.75rem;
  font-size: 1.65rem;
  font-weight: bold;
  color: #0b3a42;
}

.button {
  position: relative;
  padding: 0.5rem 2.5em;
  font-size: 1rem;
  border-radius: 7px;
  background-color: #184fac;
  border-color: #184fac;
  box-shadow: 0 6px 5px rgba(50, 50, 50, 0.35) !important;
  transition: none !important;

  &:active {
    top: 2px;
    box-shadow: 0 3px 4px rgba(50, 50, 50, 0.4) !important;
  }
}

@media screen and (min-width: 768px) {
  .top-row, .bottom-row {
    .logo-link {
      flex-basis: 8%;
      margin: 10px 4%;
    }

    .logo-link:nth-child(n+16) {
      display: block;
    }

    .logo-link:nth-child(n+19) {
      display: none;
    }
  }
}

@media screen and (min-width: 992px) {
  .title {
    margin-bottom: 2rem;
    font-size: 1.9rem;
  }

  .top-row, .bottom-row {
    .logo-link {
      flex-basis: 5%;
      margin: 10px 2.5%;
    }

    .logo-link:nth-child(n+19) {
      display: block;
    }
  }

  .middle-section {
    padding: 3rem 5rem 4rem;
  }
}
