.main-container {
  margin-bottom: 5.4rem;
  padding-top: 3.5rem;
}

.main {
  margin-bottom: 5rem;
}

.list-container {
  display: flex;
  justify-content: center;
}

.list {
  position: relative;
  margin-bottom: 3rem;
  padding: 2rem 0 0;
  line-height: 3.3;
  list-style: none;
}

.list-line-decorator {
  position: absolute;
  height: 17rem;
  top: 1.2rem;
  right: 1rem;
  border-right: 3px dashed #c9d2d7;
}

.list-item {
  position: relative;
  font-size: 1.3rem;
}

.list-item-img {
  margin-left: 1rem;
  width: 25px;
}

.important-list-container {
  text-align: center;
}

.important-list-item-img {
  width: 32px;
  margin-left: 0.7rem;
  position: relative;
  right: -0.4rem;
  vertical-align: top;
}

.important-list-item {
  display: inline-block;
  text-align: center;
  font-size: 1.4rem;
  white-space: nowrap;
  color: #ef394f;
}

.left-img {
  width: 85%;
}

.plans-button-link {
  display: block;
  width: 10rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.plans-button {
  display: flex;
  align-items: center;
  padding: 0.9rem 1.75em;
}

.plans-button h2 {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 0;
  line-height: 1.5;
}

.plans-button-icon {
  display: none;
}

@media screen and (min-width: 420px) {
  .important-list-item {
    font-size: 1.5rem;
  }

  .plans-button-icon {
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .list-container {
    display: block;
  }

  .list {
    padding-top: 1rem;
  }

  .list-line-decorator {
    height: 20.7rem;
    top: -3.5rem;
  }

  .list-item-img {
    width: 32px;
  }

  .important-list-container {
    text-align: right;
  }

  .important-list-item-img {
    width: 40px;
  }

  .important-list-item {
    position: absolute;
    font-size: 1.5rem;
  }

  .left-img {
    width: 95%;
  }

  .plans-button h2{
    font-size: 1.2rem;
  }

  .plans-button-icon {
    font-size: 1.4rem;
    margin-left: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .list-item {
    font-size: 1.5rem;
  }

  .list-line-decorator {
    right: 1.1rem;
  }

  .list-item-img {
    width: 41px;
  }

  .important-list-item-img {
    width: 52px;
  }

  .important-list-item {
    font-size: 1.6rem;
  }
}
