.col {

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d7dee0;
  border-radius: 9px;
  margin: auto;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
  width: 46%;
  margin: auto;
  padding-top: 5px;
  font-size: 2.2rem;
  background-color: #106aca;
  color: #ffffff;
  border-radius: 8px;
  line-height: 1.4;
  box-shadow: 0 2px 3px rgba(50, 50, 50, 0.3);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 15px;
  font-size: 1.3rem;
  color: #525557 !important;
}

.logo {
  width: 25px;
  height: 25px;
  margin: 5px;
  margin-left: 10px;
  font-size: 0.65rem;
}

@media screen and (min-width: 420px) {
  .card {
    max-width: 450px;
  }

  .count {
    font-size: 2.7rem;
  }

  .title {
    margin: 15px auto 20px;
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
  .title {
    margin: 15px auto 20px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1400px) {
  .title {
    margin: 20px auto 30px;
  }
}
