.row {
  padding-top: 15px;
  padding-bottom: 65px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 2.5rem;
}

.title {
  margin-top: 1.2rem;
  margin-bottom: 1.4rem;
  font-size: 1.85rem;
}

.bg-light {
  background-color: #eceff1;
}

@media screen and (min-width: 1200px) {
  .row {
    --bs-gutter-x: 5rem;
  }
}

@media screen and (min-width: 1400px) {
  .row {
    --bs-gutter-x: 7rem;
  }
}
