.card-container {
  position: relative;
  margin: 2rem 0;
  padding: 0 1.25rem;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
}

.section {
  color: #fff;
}

.swiper-main {
  align-items: stretch;
}

.swiper-slide {
  height: auto;
  margin-bottom: 2rem;
}

.slider-btn-next, .slider-btn-prev {
  background-color: initial;  /* This is a trick for these classes to be included in DOM */
}

@media screen and (min-width: 1200px) {
  .row {
    --bs-gutter-x: 3.2rem;
  }
}

@media screen and (min-width: 1400px) {
  .row {
    --bs-gutter-x: 3.3rem;
  }
}
