.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  min-height: 15rem;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #ffffff;
  color: #1a1e21;
}

.card:after {
  content: "";
  position: absolute;
  transform: rotate(10deg);
  bottom: -35px;
  left: 20px;
  border: 15px solid transparent;
  border-top: 25px solid #fff;
}

.text {
  margin-bottom: auto;
  font-size: 1rem;
  text-align: justify;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 5px 0 5px;
}

.user {
  font-size: 0.9rem;
}

.name {
  color: #525557 !important;
}

.pic {
  width: 50px;
}

@media screen and (min-width: 420px) {
  .card {
    max-width: 450px;
  }

  .text {
    font-size: 1.2rem;
  }

  .user {
    font-size: 1.1rem;
  }

  .pic {
    width: 60px;
  }
}

@media screen and (min-width: 576px) {
  .user {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 1.1rem;
  }

  .user {
    font-size: 1rem;
  }

  .pic {
    width: 70px;
  }
}


@media screen and (min-width: 992px) {
  .text {
    font-size: 1rem;
  }

  .user {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    padding: 25px;
  }

  .text {
    font-size: 0.85rem;
  }

  .user {
    font-size: 0.75rem;
  }

  .pic {
    width: 75px;
  }
}

@media screen and (min-width: 1400px) {
  .text {
    font-size: 1rem;
  }

  .user {
    font-size: 0.9rem;
  }

  .info {
    margin: 30px 0 10px;
  }
}
