.img-container {
  position: relative;
  height: 200px;
  text-align: center;
}

.logo {
  position: relative;
  top: 20%;
  width: 120px;
  border-radius: 50%;
}

.link {
  position: relative;
  z-index: 2;
}

.icon {
  position: absolute;
  height: 100%;
  top: 0;
  right: calc(50% - 12px);
  text-align: right;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.icon-img {
  opacity: 0.5;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.anim-1 .icon-img, .anim-4 .icon-img {
  animation-duration: 8s;
}
.anim-2 .icon-img, .anim-5 .icon-img {
  animation-duration: 9.5s;
}
.anim-3 .icon-img {
  animation-duration: 11s;
}

@mixin anim($offset) {
  0% {
    transform: rotateZ($offset);
  }
  100% {
    transform: rotateZ($offset + 360deg);
  }
}

@for $i from 1 through 5 {
  #{'.anim-' + $i} {
    animation-name: #{'anim-' + $i};
    @if $i == 1 {
      animation-direction: reverse;
    }
  }

  #{'.anim-' + $i} .icon-img {
    animation-name: #{'anim-' + $i};
  }

  @keyframes #{'anim-' + $i} {
    @include anim(0deg + (($i - 1) * 72deg));
  };
}

@media screen and (min-width: 992px) {
  .img-container {
    height: 350px;
  }

  .logo {
    top: 15%;
    width: unset;
    height: 70%;
  }
}
