.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 3rem;
  border-radius: 5px;
}

.img-container {
  position: relative;
  height: 180px;
  text-align: center;
}

.link {
  z-index: 100;
}

.logo {
  position: relative;
  top: 40px;
  width: 100px;
}

.title {
  margin-top: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 0 0;
}

.phone {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.form-control-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 200px;
  max-width: 100%;
  margin: auto;
  font-size: 1.5rem;
}

.form-control {
  direction: ltr;
  border-color: #e6e6e6;
  border-radius: 50px;
  text-align: center;
  font-size: 1.3rem;
  margin: 5px 0;
  padding: 0 3rem;
  height: 35px;
  background-color: #e6e6e6;
  transition: background-color 0.15s ease-out, border-color 0.15s ease-out;
}

.form-control:focus {
  box-shadow: unset!important;
  border: 1px solid #ddd;
  color: #888888;
}

.form-control:focus::-moz-placeholder,
.form-control:focus::-webkit-input-placeholder,
.form-control:focus::placeholder {
  opacity: 0;
}

.form-control.border-red {
  border: 1px solid #e74c3c;
}

.form-control-icon {
  position: absolute;
  left: 1.2rem;
  opacity: 80%;
}

.error {
  margin: 2px 0 5px;
  font-size: 1rem;
  text-align: center;
  color: #e74c3c;
}

.error:before {
  content: '*';
  margin-left: 5px;
}

.login-btn {
  border: none;
  border-radius: 50px;
  width: 200px;
  max-width: 100%;
  height: 35px;
  font-size: 1.2rem;
  margin-top: 15px;
  background-color: #57b845;
}

.login-btn:hover {
  background-color: #57b845;
}

.login-btn:active {
  background-color: #57b845;
}

.login-btn:focus {
  background-color: #57b845;
  box-shadow: unset;
}

.error-message {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #e74c3c;
}

.error-message span {
  margin-right: 10px;
}

.back {
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  color: #c7c7c7;
}

.back:hover {
  color: #a9a9a9;
}

.icon {
  position: absolute;
  height: 100%;
  top: 0;
  right: calc(50% - 12px);
  text-align: right;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.icon-img {
  opacity: 0.5;
  max-width: 18px!important;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.anim-1 .icon-img, .anim-4 .icon-img {
  animation-duration: 8s;
}
.anim-2 .icon-img, .anim-5 .icon-img {
  animation-duration: 9.5s;
}
.anim-3 .icon-img {
  animation-duration: 11s;
}

@mixin anim($offset) {
  0% {
    transform: rotateZ($offset);
  }
  100% {
    transform: rotateZ($offset + 360deg);
  }
}

@for $i from 1 through 5 {
  #{'.anim-' + $i} {
    animation-name: #{'anim-' + $i};
    @if $i == 1 {
      animation-direction: reverse;
    }
  }

  #{'.anim-' + $i} .icon-img {
    animation-name: #{'anim-' + $i};
  }

  @keyframes #{'anim-' + $i} {
    @include anim(0deg + (($i - 1) * 72deg));
  };
}

@media screen and (min-width: 420px) {
  .form-control-container {
    width: 250px;
  }

  .login-btn {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .form-control {
    font-size: 1.1rem;
    height: 40px;
  }

  .login-btn {
    font-size: 1rem;
    height: 40px;
  }
}

@media screen and (min-width: 992px) {
  .error, .error-message {
    font-size: 0.8rem;
  }

  .error-message {
    bottom: -3rem;
  }

  .form-control-container {
    width: 300px;
  }

  .login-btn {
    width: 300px;
  }
}

@media screen and (min-width: 1400px) {
  .login-box {
    padding: 150px 50px;
  }
}
