.main {
  position: absolute;
  width: calc(100vw - 15px);
  max-width: 850px;
  top: 4rem;
  right: -40px;
  padding: 0.75rem 0;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: 0 2px 6px rgba(50, 50, 50, 0.15);
  z-index: 900;
  font-size: 1rem;
  color: #444;
}

.loading,
.notfound {
  font-size: 0.9rem;
  text-align: center;
}

.loading {
  height: 100%;
  min-height: 1.25rem;
}

.loading:before {
  content: 'در حال بارگذاری ...';
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.1);
  text-shadow: 0 2px 10px gray;
  z-index: 600;
}

.row {
  padding: 0.5rem 1rem;
}

.bottom-section .row {
  margin: 0.75rem 0;
}

.item {
  display: inline-block;
  margin: 0.2rem 0 0.2rem 0.35rem;
  padding: 0.25rem 0.4rem;
  cursor: initial;
}

.webinar {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.webinars-section .row:hover {
  background-color: #eee;
}

.webinar-logo-container {
  width: 5rem;
  height: 2.8rem;
}

.webinar-logo {
  width: 100%;
  height: 100%;
  object-fit : contain;
  border-radius: 3px;
  box-shadow: 0 3px 7px rgb(0, 0, 0, 0.15);
}

.webinar-title {
  margin-right: 0.75rem;
  margin-left: 1rem;
}

.webinar-instructor {
  display: none;
}

.webinar-date {
  margin-right: auto;
}

.bottom-section {
  position: relative;
  padding: 1rem 1rem 0;
  font-size: 1rem;
}

.row-title {
  display: inline-block;
  min-width: 4.5rem;
  margin-left: 0.5rem;
  color: #888;
}

.tags-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.tags-list {
  margin-bottom: 0 !important;
  padding-right: 0.4rem !important;
}

.tag-item {
  margin-bottom: 0 !important;
  font-size: 0.7rem !important;
  padding: 0.2rem 0.55rem !important;
}

.organization-item {
  margin-left: 1rem;
  cursor: pointer;
}

.organization-item-logo {
  margin-left: 0.4rem;
  height: 1.75rem;
}

.instructor-item {
  cursor: pointer;
}

.instructors-row,
.organizations-row {
  display: flex;
  align-items: center;
}

.item,
.webinar-date,
.webinar-instructor,
.webinar-title {
  color: #254c82;
}

.item:hover,
.webinar:hover .webinar-date,
.webinar:hover .webinar-instructor,
.webinar:hover .webinar-title {
  color: #0884e8;
}

@media screen and (min-width: 420px) {
  .webinar-title {
    flex-basis: 35%;
    min-width: 35%;
    margin-left: 0;
  }

  .webinar-instructor {
    display: inline-block;
    margin: 0 2rem 0 1rem;
  }
}

@media screen and (min-width: 576px) {
  .main {
    right: -100px;
    width: unset;
    min-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    right: -100px;
    left: unset;
    min-width: 600px;
    font-size: 0.85rem;
  }

  .bottom-section {
    font-size: 0.8rem;
  }
}
