.header {
  padding: 2rem 0;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1.7;
  color: #294c82;
}

.favorite {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.like-count {
  font-size: 1.3rem;
}

.second-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.author {
  margin-left: 1rem;
}

.author-image {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  border-radius: 50%;
}

.date {
  display: flex;
  align-items: center;
}

.left-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  margin-right: 10px;
  color: #0c79d3;
}

@media screen and (min-width: 420px) {
  .second-row {
    flex-direction: row;
    align-items: center;
  }

  .right-column {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .like-count {
    font-size: 1rem;
  }
}