.main {
  padding: 2rem 0;
  color: #1f3c95;
}

.title {
  margin-bottom: 2rem;
}

.comment-box {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #1f3c95;
}

.accordion-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0!important;
  padding: 5px;
  padding-left: 10px;
  border: 0;
  background-color: #ffffff;
  color: #1f3c95;
}

.accordion-toggle.toggle-down {
  margin-bottom: 1rem;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffffff;
  color: #254c82;
}

.accordion-toggle:focus {
  outline: none;
}

.author-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.comment-form {
  position: relative;
  padding: 1rem 0;
}

.comment-form-disabled:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0002;
}

.input {
  margin-bottom: 1rem;
  border-color: #426493;
  color: #426493;
}

.input::placeholder {
  color: #426493;
}

.field-error {
  border-color: #e70c0c !important;
}
.field-error:focus {
  box-shadow: 0 0 0 .25rem #e70c0c30;
}

.error-text {
  color: #e70c0c;
  font-size: 0.9rem;
}

.submit {
  display: block;
  min-width: 10rem;
  margin-top: 2rem;
  padding: 5px 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  background-image: linear-gradient(to top , #065596 , #076cbf);
  color: #ffffff;
  cursor: pointer;
}