.main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-top: 6rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #718bae;
  color: #1f3c95;
}

.title {
  text-align: right;
  margin-bottom: 1rem;
}

.social-share {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  text-align: center;
}

//.social-share {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//  position: absolute;
//  left: 0;
//  right: 0;
//  text-align: center;
//}

.page-link-button {
  margin: 5px 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.social-icon {
  margin: 5px;
  font-size: 1.8rem;
  cursor: pointer;
  opacity: 1;
  transition: transform 0.05s ease-out;
}

.page-link-button:hover,
.social-icon:hover {
  opacity: 0.7;
}
.page-link-button:active .social-icon,
.social-icon:active {
  transform: scale(1.2);
}

.page-link-button:hover .social-icon {
  opacity: 1;
}

.hidden-page-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0;
  z-index: -1;
}

.actions {
  display: flex;
  align-items: center;
  z-index: 1;
}

.comments {
  margin-left: 5px;
}

.actions-icon {
  margin-right: 5px;
  font-size: 1.65rem;
  cursor: pointer;
}

.action-count {
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .action-count {
    font-size: 1rem;
  }
}