.comments {
  padding: 0.9rem 1.5rem;
}

.comment {
  padding: 1rem 0;
  border-bottom: 1px solid #0002;
  line-height: 1.5;
}
.comment:last-child {
  padding-bottom: 0;
  border-bottom: unset;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.sender {
  font-size: 1rem;
}

.date {
  font-size: 0.85rem;
  text-align: left;
  color: gray;
}

.text {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: normal;
  color: #000b;
}