.main {
  display: inline-flex;
}

.heart {
  position: relative;
  color: #e71c1c;
  transition: transform 0.15s ease-out;
  z-index: 2;
}
.heart:hover {
  color: red;
  transform: scale(1.15);
}

.heart-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.heart-backdrop-moving {
  animation-name: heart-anim-keyframe;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.45s;
  animation-fill-mode: forwards;
}

@keyframes heart-anim-keyframe {
  0% {
    transform: scale(1.25);
    opacity: 0.95;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.fadein {
  animation: fade-in-keyframe 1 ease 0.3s forwards;
}

@keyframes fade-in-keyframe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}