.main {}

.title {
  font-weight: 800;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.articles {
  margin-bottom: 3rem;
}

.sidebar {
  margin-top: 2rem;
}

.my-masonry-grid {
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
  .my-masonry-grid_column {
    width: 48% !important;
  }
  .my-masonry-grid_column:last-child {
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    margin-top: 0;
  }
}
