.main {
  position: relative;
  height: 100%;
}

.main:hover .card-overlay {
  opacity: 0.8;
}

.main:hover .card {
  opacity: 0.3;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 10px 15px;
  border-radius: 10px;
  transition: opacity 0.35s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #ffffff;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 800;
  color: #254c82;
}

.description {
  padding-top: 1rem;
  border-top: 1px solid #cccccc;
  line-height: 1.4rem;
  font-size: 0.9rem;
  color: #9a9a9a;
}

.title:hover {
  color: #254c82;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  color: #9a9a9a;
}

.author {
  display: flex;
  align-items: center;
}

.author-image {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
}

.author-link {
  color: #9a9a9a;
}

.author-link:hover {
  color: #9a9a9a;
}

.date {
  font-size: 0.9rem;
}

.card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  transition: opacity 0.35s ease;
  background-image: linear-gradient(to top , #3966a4 , #5bb4fe);
  color: #ffffff;
}

.overlay-header {
  display: flex;
  justify-content: flex-end;
}

.overlay-tag {
  padding: 5px 25px;
  border-radius: 5px;
  background-color: #254c82;
  color: #ffffff;
}

.overlay-footer {
  display: flex;
  flex-direction: column;
}

.overlay-subfooter {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.overlay-icons {
  display: flex;
  align-items: center;
}

.overlay-comment {
  margin-left: 5px;
}

.overlay-icon {
  margin-right: 5px;
}