.main {
  color: #254c82;
  padding-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 800;
}

.more {
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #eff0f4;
  color: #254c82;
}

.more:hover {
  color: #254c82;
  opacity: 0.8;
}

.articles {
  margin-top: 0;
}

.gy-5 {
  --bs-gutter-y: 2rem;
  justify-content: center;
}