.main {
  margin: 8rem 0;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 2rem 3rem;
  border-radius: 10px;
  background-image: linear-gradient(to top , #242d84 , #0d75d7);
}

.title {
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.image-container {
  position: relative;
}

.image {
  height: 110px;
  position: relative;
  border-radius: 10px;
}

@media screen and (min-width: 420px){
  .background {
    height: 200px;
  }

  .title {
    font-size: 1.7rem;
  }

  .image {
    height: 160px;
  }
}

@media screen and (min-width: 576px){
  .background {
    height: 250px;
  }

  .image {
    height: 200px;
  }
}

@media screen and (min-width: 768px){
  .background {
    height: 275px;
  }

  .image {
    height: 220px;
  }
}

@media screen and (min-width: 992px){
  .background {
    height: 300px;
  }

  .image {
    height: 250px;
  }
}

@media screen and (min-width: 1200px){
  .background {
    height: 350px;
  }

  .image {
    height: 300px;
  }
}

@media screen and (min-width: 1200px){
  .background {
    height: 400px;
  }

  .image {
    height: 350px;
  }
}
