.main {
  padding: 2rem 0;
  border-bottom: 1px solid #718bae;
  color: #254c82;
}

.title {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.swiper-main {
  position: relative;
}

.swiper-slide {
  display: flex;
  height: auto;
  margin-bottom: 1rem;
}

.slider-btn-next, .slider-btn-prev {
  background-color: initial;
}

.link {
  width: 100%;
}

.img {
  width: 100%;
  border-radius: 8px;
}