.sidebar-box {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  background-color: #ffffff;
}

.title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.link {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #f1f2f7;
}

.article {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.article-image {
  width: 6rem;
  height: 6rem;
  border-radius: 5px;
  margin-left: 10px;
  object-fit: cover;
  object-position: left;
}

.article-title {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #254c82;
}

.article-title:hover {
  color: #254c82;
}

.article-date {
  font-size: 0.8rem;
  color: #9b9a9b;
}

@media screen and (min-width: 576px) {
  .article-image {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar-box {
    margin-top: 0!important;
  }
}
