.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #718bae;
  color: #254c82;
}

.title {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0 0 5px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f7f7f7;
  transition: color 0.1s ease-out, background-color 0.15s ease-out;
}
.tag:hover {
  background-color: #254c82;
  color: white;
}
