.main {
  width: 100%;
  margin: 0;
  background-image: url("/images/brandpage/bp-mobile-top-banner.png");
  background-color: #000;
  background-size: cover;
  padding: 4rem 0;
}

.container {
  max-width: 100%;
  padding: 0 1rem;
}

.row {
  align-items: center;
  margin: 0;
  padding-top: 3rem;
}

.right-col {
  max-width: 290px;
  margin: auto;
  margin-top: 4rem;
  order: 2;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: normal;
  font-family: Lalezar!important;
  color: #f4dd62;
  line-height: 38px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.description {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
}

.plans-btn {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 10px 27px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.08em;
  line-height: 25px;
  text-align: center;
  background: linear-gradient(180deg, #d79a2b 0%, #f5d77f 46.67%, #d99d2e 100%);
  color: #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.plans-btn:hover {
  color: #000;
}

.left-col {
  width: 320px;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem auto;
}

.image {
  max-width: 100%;
}

.icon {
  position: absolute;
  width: 30px;
  border-radius: 50%;
}

@keyframes live1 {
  40% {
    transform: translate(2px, 8px);
  }
  50% {
    box-shadow: 2px 2px 15px #f4dd62;
  }
  75% {
    transform: translate(-1px, -2px);
  }
}

@keyframes live2 {
  40% {
    transform: translate(2px, -8px);
  }
  50% {
    box-shadow: 2px 2px 15px #f4dd62;
  }
  75% {
    transform: translate(1px, 2px);
  }
}

@keyframes live3 {
  40% {
    transform: translate(-2px, -8px);
  }
  50% {
    box-shadow: 2px 2px 15px #f4dd62;
  }
  75% {
    transform: translate(1px, 2px);
  }
}

.icon-1 {
  display: none;
  right: 11rem;
  top: 0;
  animation: live1 10s ease-in-out infinite;
}
.icon-2 {
  right: 0;
  animation: live2 8s ease-in-out infinite;
}
.icon-3 {
  display: none;
  right: 3.5rem;
  top: 6rem;
  animation: live3 9s ease-in-out infinite;
}
.icon-4 {
  display: none;
  right: 8rem;
  bottom: 0;
  animation: live1 11s ease-in-out infinite;
}
.icon-5 {
  left: 15rem;
  bottom: -0.5rem;
  animation: live1 8s ease-in-out infinite;
}
.icon-6 {
  left: 11rem;
  top: -0.5rem;
  animation: live3 7s ease-in-out infinite;
}
.icon-7 {
  left: 0;
  bottom: 7rem;
  animation: live2 12s ease-in-out infinite;
}
.icon-8 {
  display: none;
  left: 1rem;
  top: 4rem;
  animation: live1 8s ease-in-out infinite;
}

@media screen and (min-width: 450px) {
  .right-col {
    max-width: 350px;
  }
  .left-col {
    width: 400px;
  }
  .icon-3 {
    right: 4.5rem;
    top: 8rem;
  }
  .icon-4 {
    right: 9rem;
    bottom: 1rem;
  }
  .icon-5 {
    left: 17rem;
  }
  .icon-7 {
    bottom: 8rem;
  }
  .icon-8 {
    left: 2rem;
    top: 4rem;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .right-col {
    max-width: 450px;
  }
  .left-col {
    width: 520px;
  }
  .icon-1 {
    right: 15rem;
    top: 0;
  }
  .icon-3 {
    right: 5.5rem;
    top: 10rem;
  }
  .icon-4 {
    right: 14rem;
    bottom: 1rem;
  }
  .icon-5 {
    left: 20rem;
    bottom: -0.5rem;
  }
  .icon-6 {
    left: 13rem;
    top: 0;
  }
  .icon-7 {
    bottom: 10rem;
  }
  .icon-8 {
    left: 3rem;
    top: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .right-col {
    max-width: 600px;
  }
  .left-col {
    width: 720px;
  }
  .icon {
    width: 35px;
  }
  .icon-1 {
    display: block;
    right: 19rem;
    top: 0;
  }
  .icon-2 {
    right: 3.5rem;
  }
  .icon-3 {
    right: 9.5rem;
    top: 10rem;
  }
  .icon-4 {
    display: block;
    right: 16rem;
    bottom: 1rem;
  }
  .icon-5 {
    left: 20rem;
    bottom: -0.5rem;
  }
  .icon-6 {
    left: 16rem;
    top: 1rem;
  }
  .icon-7 {
    left: 5rem;
    bottom: 6rem;
  }
  .icon-8 {
    display: block;
    left: 6rem;
    top: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .main {
    background-image: url("/images/brandpage/brandpage-top-banner-bg.png");
  }
  .container {
    max-width: 992px;
  }
  .row {
    padding-top: 0;
  }
  .right-col {
    max-width: 450px;
    margin-top: 0;
    order: 1;
    padding: 0 2rem 0 1rem;
    margin: 0 auto;
  }
  .left-col {
    width: 470px;
    order: 2;
  }
  .title {
    text-align: right;
    line-height: 56px;
    font-size: 2.3rem;
  }
  .description {
    text-align: right;
  }
  .plans-btn {
    float: left;
    padding: 9px 20px;
    font-size: 0.9rem;
  }
  .icon-1 {
    right: 9rem;
    top: 0;
  }
  .icon-2 {
    right: 0;
  }
  .icon-3 {
    right: 4rem;
    top: 6rem;
  }
  .icon-4 {
    display: none;
    right: 8rem;
    bottom: 1rem;
  }
  .icon-5 {
    left: 16rem;
    bottom: -0.5rem;
  }
  .icon-6 {
    left: 8rem;
    top: 0;
  }
  .icon-7 {
    left: -0.5rem;
    bottom: 9rem;
  }
  .icon-8 {
    display: none;
    left: 1rem;
    top: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .right-col {
    max-width: 590px;
    padding-left: 2rem;
  }
  .left-col {
    width: 580px;
  }
  .title {
    font-size: 2.235rem;
  }
  .description {
    font-size: 1.265rem;
  }
  .icon {
    width: 40px;
  }
  .icon-1 {
    right: 13rem;
    top: -0.5rem;
  }
  .icon-2 {
    right: -0.2rem;
  }
  .icon-3 {
    display: block;
    right: 4.5rem;
    top: 8rem;
  }
  .icon-4 {
    display: block;
    right: 11rem;
    bottom: 0;
  }
  .icon-5 {
    left: 14rem;
    bottom: -0.5rem;
  }
  .icon-6 {
    left: 12rem;
  }
  .icon-7 {
    left: 1rem;
    bottom: 5rem;
  }
  .icon-8 {
    display: block;
    left: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .right-col {
    width: 575px;
  }
  .left-col {
    width: 660px;
  }
  .title {
    font-size: 2.195rem;
  }
  .description {
    font-size: 1.15rem;
  }
  .icon-1 {
    right: 15rem;
  }
  .icon-2 {
    right: 1rem;
  }
  .icon-3 {
    right: 6.5rem;
    top: 8rem;
  }
  .icon-4 {
    right: 13rem;
  }
  .icon-5 {
    left: 16rem;
  }
  .icon-6 {
    left: 14rem;
  }
  .icon-7 {
    left: 3rem;
  }
  .icon-8 {
    left: 4rem;
  }
}