.row {
  padding: 0 1rem 4rem;
}

.main-title {
  display: block!important;
  font-size: 2.5rem!important;
  text-align: center;
}

.title {
  display: none;
  margin-bottom: 3rem;
  font-family: Lalezar!important;
  font-size: 2.25rem;
  font-weight: normal;
  color: #252525;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.right-col {
  order: 2;
}

.item {
  display: flex;
}

.item-icon {
  width: 22px;
  height: 22px;
  margin-top: 3px;
}

.item-text {
  display: inline-block;
  margin-right: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #B07515;
}

.plans-btn {
  display: block;
  width: fit-content;
  margin: 2rem auto;
  padding: 10px 27px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: -0.08em;
  line-height: 25px;
  box-shadow: 0 8px 20px #f5d77f;
  background: linear-gradient(180deg, #d79a2b 0%, #f5d77f 46.67%, #d99d2e 100%);
  color: #000;
}

.plans-btn:hover {
  box-shadow: 0 11px 25px #f3c641;
  color: #000;
}

.left-col {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 15rem 0 18rem;
}

.image {
  position: absolute;
  max-width: 100%;
  width: 320px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.image.transparent {
  opacity: 0;
}

@media screen and (min-width: 576px) {
  .left-col {
    margin: 16rem 0 20rem;
  }

  .image {
    width: unset;
  }
}

@media screen and (min-width: 768px) {
  .left-col {
    margin: 14rem 0 18rem;
  }
}

@media screen and (min-width: 992px) {
  .row {
    padding: 0;
  }
  .main-title {
    display: none!important;
  }
  .title {
    display: block;
  }
  .right-col {
    order: 1;
  }
  .left-col {
    order: 2;
  }
  .item-text {
    font-size: 1.15rem;
  }
  .image {
    position: absolute;
  }
  .plans-btn {
    float: left;
    padding: 9px 20px;
    font-size: 0.9rem;
  }
}