.card {
  margin: 0;
  border: 3px solid #FDF3D4;
  border-radius: 10px;
  width: 100%;
  height: unset;
  color: #4B4B4B;
  box-shadow: 0 6px 14px 1px rgba(245, 215, 127, 0.5);
  box-sizing: border-box;
}

.banner {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding-left: 12px;
  padding-right: 12px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.author, .date, .more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon, .date-icon {
  margin-left: 3px;
}

.user-text, .date-text {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 19px;
  color: #a0a3b3;
}

.title {
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 24px;
  color: #b07515;
}

.title:hover {
  color: #b07515;
}

.description {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 19px;
  color: #4e4c4b;
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  margin-bottom: 10px;
  margin-left: 12px;
}

.more-text {
  font-size: 1rem;
  font-weight: 500;
  color: #0d6efd;
}

.more-icon {
  margin-right: 3px;
}

@media screen and (min-width: 450px) {
  .card-body {
    padding-left: 25px;
    padding-right: 25px;
  }

  .card-footer {
    margin-left: 25px;
  }

  .title {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 768px) {
  .card-body {
    padding-left: 12px;
    padding-right: 12px;
  }

  .card-footer {
    margin-left: 12px;
  }

  .user-text, .date-text {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.1rem;
  }

  .description, .more-text {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 992px) {
  .card-body {
    padding-left: 25px;
    padding-right: 25px;
  }

  .card-footer {
    margin-left: 25px;
  }

  .user-text, .date-text {
    font-size: 0.75rem;
  }

  .title {
    font-size: 1.1rem;
  }

  .description, .more-text {
    font-size: 0.8rem;
  }
}