.main {
  padding: 0 1rem 5rem;
}

.title {
  margin-bottom: 1rem;
  font-family: Lalezar!important;
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #252525;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 0 2rem;
}

.swiper-main {
  position: relative;
  padding: 1rem;
}

.slide {
  display: flex;
  height: auto;
  margin-bottom: 1rem;
}

.slider-btn-next, .slider-btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
  background-color: initial;
  color: #b07515;
  filter: none;
}

.slider-btn-next {
  right: 0.75rem;
}

.slider-btn-prev {
  left: 0.75rem;
}

.slider-btn-next:hover, .slider-btn-prev:hover {
  background-color: #f5d77f;
}

.slider-btn-next::after, .slider-btn-prev::after {
  font-size: 1rem;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination span {
  width: 6px;
  height: 6px;
  margin: 2px;
}

@media screen and (min-width: 992px) {
  .main {
    padding: 0 1rem 3rem;
  }

  .title {
    font-size: 2rem;
  }

  .slider-btn-next, .slider-btn-prev {
    width: 33px;
    height: 33px;
    border: 1.5px solid #b07515;
    border-radius: 50%;
    color: #b07515;
    filter: none;
  }

  .slider-btn-next {
    right: -0.75rem;
  }

  .slider-btn-prev {
    left: -0.75rem;
  }

  .pagination {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 1.8rem;
  }
}