.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-size: 1.2rem;
  color: #fff;
  background-image: url("/images/brandpage/brandpage-footer-bg.png");
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 80px;
    background-image: url("/images/brandpage/brandpage-footer-bg.png");
  }
}