.header-container {
  display: none;
  align-items: center;
  background-color: #000;
}

.header {
  position: static;
  width: 100%;
}

.header-item {
  margin-right: 2rem;
  margin-left: 1rem;
  font-weight: normal;
  font-size: 1.2rem;
  color: #fff;
}

.header-item.selected {
  margin-top: 12px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #dab84c;
  border-bottom: 3px solid #dab84c;
}

.header-item:hover {
  color: #fff;
}

.header-item.selected:hover {
  color: #dab84c;
  border-bottom: 3px solid #dab84c;
}

.header-logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.nav-left {
  position: absolute;
  left: 0;
}

.login-btn {
  display: block;
  padding: 10px 18px;
  border: 1px solid #fff;
  border-radius: 50px;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.login-btn:hover {
  color: #fff;
}

.mobile-header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  max-height: 64px;
  transition: max-height 0.5s ease;
  background-image: url("/images/brandpage/bp-mobile-top-banner.png");
  background-color: #000;
  background-size: cover;
}

.mobile-header.expand {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  transition: max-height 0.5s ease;

}

.mobile-nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
}

.mobile-header-logo {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.mobile-nav-icon {
  font-size: 2rem;
  color: #f1c17e;
  cursor: pointer;
}

.mobile-nav-collapse {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.mobile-nav-collapse.expand {
  max-height: 100vh;
  transition: max-height 0.5s ease;
}

.mobile-header-item {
  margin: 1rem 2rem;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 1.1rem;
  color: #fff;
  border-bottom: 1px solid #dab84c;
}

.mobile-header-item.selected {
  font-weight: bold;
  color: #dab84c;
}

.mobile-header-item:hover {
  color: #dab84c;
  border-bottom: 2px solid #dab84c;
}

.mobile-header-item.selected:hover {
  border-bottom: 3px solid #dab84c;
}

.mobile-login {
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 105px;
    padding: 0 5rem;
  }

  .header-item {
    position: relative;
  }

  .header-logo {
    width: 73px;
    height: 73px;
  }

  .mobile-header {
    max-height: 80px;
  }

  .mobile-header-logo {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 992px) {
  .header-container {
    display: flex;
  }

  .mobile-header {
    display: none;
  }

  .login-btn {
    font-size: 0.9rem;
  }
}