.container {
  padding: 3rem 1.5rem;
}

.title {
  margin-bottom: 2rem;
  font-family: Lalezar, iranyekan, sans-serif !important;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  line-height: 24px;
  color: #252525;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  margin: 1rem auto;
  padding: 3rem 1rem;
  background: #FFF8E5;
  border-radius: 10px;
}

.item-icon {
  width: 100px;
  margin-bottom: 2rem;
}

.item-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-bottom: 1rem;
  border-radius: 50%;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 24px;
  background: linear-gradient(180deg, #f5d77f 0%, rgba(245, 215, 127, 0) 100%);
  color: #b07515;
}

.item-text {
  max-width: 150px;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 18px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .item {
    width: 250px;
  }

  .item-icon {
    height: 120px;
    width: auto;
  }

  .item-step {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
  }

  .item-text {
    max-width: 180px;
    font-size: 1rem;
    line-height: 24px;
  }

}

@media screen and (min-width: 992px) {
  .title {
    margin-bottom: 0;
  }

  .item {
    background-color: unset;
  }

  .item-step {
    width: 40px;
    height: 40px;
    font-size: 1.3rem;
  }

  .item-text {
    max-width: 180px;
    font-size: 1rem;
    line-height: 24px;
  }

}