.container {
  padding-bottom: 3rem;
  max-width: 1000px;
}

.contact-section {
  padding: 2rem;
  border-radius: 10px;
  border: 3px solid #fdf3d4;
  background: #fdf4db;
}

.contact-title {
  margin-bottom: 2rem;
  font-family: Lalezar!important;
  font-weight: normal;
  font-size: 2rem;
  line-height: 24px;
  text-align: center;
  color: rgba(19, 19, 19, 0.8);
}

.contact-item {
  width: 250px;
  margin: 1rem auto;
  border: 3px solid #fdf3d4;
  border-radius: 50px;
  box-shadow: 0 10px 20px 3px rgba(245, 215, 127, 0.5);
  background: #fff;
}

.contact-item:hover {
  box-shadow: 0 10px 20px 5px rgba(245, 215, 127, 0.7);
}

.contact-item-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: #b07515;
}

.contact-item-link:hover {
  color: #b07515;
}

.contact-item-icon {
  width: 33px;
  margin-left: 10px;
}

.contact-item-text {
  direction: ltr;
}

@media screen and (min-width: 768px) {
  .contact-item {
    width: 300px;
  }

  .contact-item-link {
    font-size: 1.3rem;
  }
}