.title {
  font-family: Lalezar!important;
  font-size: 2rem;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #252525;
}

.accordion {
  padding: 1rem 1rem 5rem;
}

.item {
  margin-bottom: 1rem;
  border: 1px solid #b07515;
  border-radius: 10px;
}

.toggle {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #000;
}

.toggle:focus {
  outline: none;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 25px;
}

.answer {
  margin: 1.5rem 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #4e4c4b;
}

.collapse {
  border-top: 1px solid #b07515;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 992px) {
  .accordion {
    padding: 1rem 0 5rem 0;
  }
}
