.container {
  padding: 6rem 1.5rem 3rem;
}

.desktop {
  display: none;
}

.title {
  margin-bottom: 2rem;
  font-family: Lalezar!important;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  line-height: 24px;
  color: #252525;
}

.plan-card {
  max-width: 360px;
  margin: 1rem auto;
  background: #fff;
  border: 0;
  border-radius: 10px;
}

.plan-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  margin-bottom: 0 !important;
  border-radius: 10px 10px 0 0;
  font-family: Lalezar !important;
  font-size: 1.75rem;
  line-height: 24px;
  background-size: cover;
}

.premium-header {
  background-image: url("/images/brandpage/bp-plan-premium.png");
  color: #fff;
}

.plus-header {
  background-image: url("/images/brandpage/bp-plan-plus.png");
  color: #7e5600;
}

.golden-header {
  background-image: url("/images/brandpage/bp-plan-golden.png");
  color: #4e5266;
}

.plan-body {
  position: relative;
  padding: 4rem 1.5rem 0;
  border-radius: 0 0 10px 10px;
  border-top: 0!important;
}

.premium .plan-body {
  border: 3px solid #20222a;
}

.plus .plan-body {
  border: 3px solid #dab84c;
}

.golden .plan-body {
  border: 3px solid #a0a3b3;
}

.plan-slogan {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 24px;
  text-align: center;
}

.plan-items {
  margin-bottom: 4rem;
}

.plan-item {
  display: flex;
  margin-bottom: 1rem;
}

.plan-item-icon {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-left: 6px;
}

.plan-item-icon.plan-item-icon-gray {
  opacity: 0.75;
}

.plan-item-text {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 24px;
  letter-spacing: -0.03em;
}

.premium-item-text {
  color: #0d0e19;
}

.plus-item-text {
  color: #b07515;
}

.golden-item-text {
  color: #0d0e19;
}

.plan-footer-br {
  border-top: 2px dashed #dab84c;
  margin-bottom: 1rem;
}

.plan-footer {
  width: calc(100% + 3rem);
  margin: 0 -1.5rem;
  padding: 0 2rem 1rem;
  border-radius: 0 0 8px 8px;
  background-color: #fdf4db;
}

.plan-footer-price-label {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #0d0e19;
}

.plan-footer-price-label-tag {
  font-size: 0.85rem;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #666666;
}

.plan-footer-price-text {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 24px;
  text-align: left;
  color: #b07515;
}

.plan-footer-price-text-black {
  color: #000;
}

.plan-footer-price-text-tag {
  font-size: 1rem;
  font-weight: normal;
  line-height: 24px;
  color: #000;
}

.golden-footer-br {
  border-top: 2px dashed #a0a3b3;
}

.golden-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #f0f1f3;
  border-radius: 0 0 8px 8px;
}

.golden-footer-text {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  color: #636982;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .plan-card {
    height: 100%;
  }
  .premium-header {
    font-size: 1.6rem;
  }

  .plan-body {
    height: calc(100% - 80px);
    padding: 3rem 1.5rem 0;
  }

  .plus .plan-body {
    padding-bottom: 12rem;
  }

  .golden .plan-body {
    padding-bottom: 5rem;
  }

  .plan-slogan {
    font-size: 1.15rem;
  }

  .plan-item-text {
    font-size: 1rem;
  }

  .plan-bottom-section {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 3rem 1.5rem 0;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 980px;
    padding: 0;
    padding-bottom: 1rem;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .plans {
    position: relative;
    margin: 2rem 0;
  }

  .main-plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .other-plans {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 8rem;
    z-index: -1;
  }

  .main-plans .plan-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }

  .other-plans .plan-card {
    opacity: 0.8;
  }

  .plan-card {
    margin: 1rem;
    width: 360px;
    max-width: unset;
  }

  .plan-header {
    height: 80px;
  }

  .plan-item-text {
    font-weight: 500;
    letter-spacing: -0.05rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }

  .other-plans {
    margin-top: 6.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }

  .other-plans {
    margin-top: 6rem;
  }
}