.container {
  padding-bottom: 3rem;
  max-width: 1000px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdf4db;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  border: 3px solid #fdf3d4;
  border-radius: 10px;
}

.info-icon {
  width: 36px;
  height: 36px;
  margin-bottom: 1rem;
}

.info-text {
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 24px;
  text-align: center;
  color: #955c00;
}

.form-section {
  padding: 2rem;
  border-radius: 10px;
  background-image: url("/images/brandpage/bp-plan-form-bg.png");
  background-size: contain;
}

.form-title {
  margin-bottom: 3rem;
  font-family: Lalezar!important;
  font-weight: normal;
  font-size: 2rem;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.form-input-container {
  margin: 5px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.form-input {
  width: 250px;
  height: 48px;
  padding-right: 4rem;
  border: 1px solid rgba(176, 117, 21, 0.5);
  border-radius: 5px;
  background: #fff;
}

.form-input:focus {
  border: 1px solid #b07515;
  box-shadow: 0 5px 10px rgba(245, 215, 127, 0.5);
}

.form-input::placeholder {
  color: #a0a3b3;
}

.form-input.error {
  border: 2px solid red;
}

.form-input-icon {
  width: 24px;
  position: absolute;
  right: 1.2rem;
}

.submit-btn {
  display: block;
  width: 130px;
  margin: 2rem auto 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #342100;
  background: linear-gradient(180deg, #d79A2b 0%, #f5d77f 46.67%, #d99d2e 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-btn:hover, .submit-btn:active, .submit-btn:focus, .submit-btn:disabled {
  color: #342100!important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.75) !important;
}

.succeed {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  color: #1aa524;
  background-image: linear-gradient(to left bottom, #daf9f1, #c8f9ec, #b6f8e7, #a3f7e1, #8ef6db);
}

@media screen and (min-width: 576px) {
  .info {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
  }

  .info-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .info-text {
    font-size: 1rem;
    text-align: right;
  }

  .form-input {
    padding-right: 3.5rem;
  }

  .submit-btn {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .form-input {
    font-size: 0.85rem;
    width: 300px;
  }

  .submit-btn {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  .form-input {
    padding-right: 3rem;
  }

  .submit-btn {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .form-section {
    background-size: cover;
  }
}