.row {
  padding: 4rem 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 285px;
  margin: 1rem auto;
  padding: 2rem;
  background: #f0f1f3;
  border-radius: 10px;
}

.image{
  margin-bottom: 1rem;
}

.text {
  max-width: 200px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
}

@media screen and (min-width: 576px) {
  .item {
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  .text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    margin: unset;
    padding: unset;
    background: unset;
    border-radius: unset;
  }
}