.card {
  margin: 0;
  border: 3px solid #FDF3D4;
  border-radius: 10px;
  width: 100%;
  height: unset;
  color: #4B4B4B;
  box-shadow: 0 6px 14px 1px rgba(245, 215, 127, 0.5);
  box-sizing: border-box;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0;
  border-bottom: 3px solid #fdf3d4;
  box-sizing: border-box;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card-body {
  padding: 7px 15px;
}

.description {
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 16px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 7px;
  border-radius: 0 0 10px 10px;
  background: #0d0e19;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-img {
  width: 35px;
  height: 35px;
  margin-left: 9px;
  border-radius: 50%;
}

.user-info-name {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 22px;
  color: #fff;
}

.user-info-role {
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 19px;
  text-align: right;
  letter-spacing: -0.04em;
  color: #c2c5cE;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-icon {
  margin-left: 5px;
}

.date-text {
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 19px;
  text-align: right;
  color: #c2c5cE;
}

@media screen and (min-width: 450px) {
  .card-body {
    padding: 25px;
  }

  .description {
    font-size: 1rem;
  }

  .card-footer {
    padding: 11px 22px;
  }

  .user-img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 768px) {
  .card-body {
    padding: 16px;
  }

  .card-footer {
    padding: 12px;
  }

  .description {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .user-info-name {
    font-size: 0.8rem;
  }

  .user-info-role, .date-text {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 992px) {
  .card-body {
    padding: 25px;
  }

  .description {
    font-size: 0.8rem;
  }

  .card-footer {
    padding: 11px 22px;
  }

  .user-img {
    width: 45px;
    height: 45px;
  }

  .user-info-name {
    font-size: 0.8rem;
  }

  .user-info-role, .date-text {
    font-size: 0.75rem;
  }
}