.file-input {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  background-color: #fefefe;
}

.file-input-form {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  opacity: 0;
}

.file-input-inner-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin:0!important;
  border-radius: 0.25rem;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;
}

.file-input-ui {
  display: flex;
  justify-content: right;
  align-items: center;
}

.file-input-ui-label {
  display: flex;
  align-items: center;
  border-left: 1px solid #ccc;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0.85rem 0.75rem;
  background-color: #f3f3f3;
}

.file-input-icon {
  font-size: 2rem;
  color: #0c79d3;
  margin-left: 5px;
}

.file-input-name {
  color: #0c79d3;
  padding: 0.85rem 0.75rem;
}

@media screen and (min-width: 576px) {
  .file-input-ui-label, .file-input-name {
    padding: 0.7rem 0.6rem;
  }
}

@media screen and (min-width: 768px) {
  .file-input-inner-content {
    font-size: 0.95rem;
  }

  .file-input-icon {
    font-size: 1.6rem;
  }

  .file-input-ui-label, .file-input-name {
    padding: 0.6rem 0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .file-input-ui-label, .file-input-name {
    padding: 0.5rem 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .file-input-inner-content {
    font-size: 0.9rem;
  }

  .file-input-icon {
    font-size: 1.4rem;
  }
}