.card {
  margin: 0;
  border: none;
  border-radius: 8px;
  color: #4B4B4B;
  box-shadow: rgba(149, 157, 165, 0.15) 0 8px 24px;
  width: 100%;
  height: unset;
}

.card-img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.65rem 0.8rem 0.7rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1rem;
}

.title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 1.5;
  vertical-align: top;
  font-size: 1.1rem;
  font-weight: 800;
  color: #4B4B4B;
}
.title:hover {
  color: #6B6B6B;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.favorite {
  cursor: pointer;
  font-size: 1.35rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
  font-size: 1rem;
  flex-wrap: wrap;
}

.owner {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 35px;
  height: 25px;
  object-fit: contain;
  margin-left: 0.5rem;
}

.name {
  color: #676767;
}

.price-link {
  margin: 0.35rem auto 0.35rem 0;
}

.price {
  padding: 0.2rem 0.75rem;
  border-radius: 5px;
  text-align: center;
  color: #3d69fa;
  font-weight: bold;
  font-size: 1.1rem;
}

@media screen and (min-width: 420px) {
  .title {
    //height: 2.45rem;
    font-size: 1rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .main, .footer {
    font-size: 0.85rem;
  }

  .top {
    font-size: 0.8rem;
  }

  .favorite {
    cursor: pointer;
    font-size: 1.2rem;
  }

  .price {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 0.9rem;
  }

  .price {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .main, .footer {
    font-size: 0.75rem;
  }

  .top {
    font-size: 0.7rem;
  }
}
