.form {
  margin-bottom: 2rem;
}

.filters-main-label {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.filters {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.select {
  display: inline-block;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

@supports (transition: filter) or (transition: -webkit-filter) {
  .select {
    transition: color 0.2s ease-out, background-color 0.2s ease-out, filter 0.2s ease-out, -webkit-filter 0.2s ease-out;
  }
}

@supports (not (transition: filter)) and (not (transition: -webkit-filter)) {
  .select {
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
  }
}

@supports (filter: invert(100%)) or (-webkit-filter: invert(100%)) {
  .select-active {
    background-color: #c7b9b5;
    color: black;
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

@supports (not (filter: invert(100%))) and (not (-webkit-filter: invert(100%))) {
  .select-active {
    background-color: #39474a;
    color: white;
  }
}

.accordion {
  display: inline;
}

.accordion-toggle {
  cursor: pointer;
}

.filter-label {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.duration-filter {
  margin-right: 1rem;
}

.checkbox {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.1rem;
}
.checkbox > input {
  font-size: 1.2rem;
}

@media screen and (min-width: 420px) {
  .select {
    max-width: 190px;
    margin-left: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: flex-end;
  }

  .filters-main-label, .select, .filter-label, .checkbox, .checkbox > input {
    font-size: 1.05rem;
  }

  .select {
    margin-bottom: 0;
  }
}
