.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0.75rem;
  box-sizing: border-box;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 7px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 30px auto 10px;
}

.pic {
  width: 120px;
  border-radius: 10px;
}

.body {
  text-align: center;
}

.name {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.job {
  font-size: 1.2rem;
}

.footer {
  margin: auto 0 10px;
}

.col {
  display: flex;
  justify-content: center;
}

.link {
  display: inline-block;
  width: 90%;
  padding: 9px;
  border-radius: 7px;
  box-shadow:  0 6px 12px -2px rgba(50, 50, 93, 0.15);
  text-align: center;
  font-size: 1.2rem;
  background-color: #328af1;
  color: #ffffff;
}
.link:hover {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 1.15rem;
  }

  .job {
    font-size: 0.9rem;
  }

  .link {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 992px) {
  .name {
    font-size: 1rem;
  }

  .job {
    font-size: 0.85rem;
  }

  .link {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 1200px) {
  .name {
    font-size: 1rem;
  }

  .job {
    font-size: 0.8rem;
  }

  .link {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1400px) {
  .card {
    min-width: 305px;
    padding-bottom: 0;
  }

  .pic {
    width: 140px;
  }

  .name {
    font-size: 1.1rem;
  }

  .job {
    font-size: 0.95rem;
  }

  .footer {
    margin-bottom: 25px;
  }

  .link {
    font-size: 0.95rem;
  }
}
