.pagination-container {
  margin: 2rem 0;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-right: 0;
}

.page-item, .disabled, .previous, .next, .break-me {
  list-style: none;
}

.page-link:focus, .next-link:focus, .previous-link:focus, .break-me a:focus {
  outline: none;
}

.page-link, .previous-link, .next-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.1rem;
  padding: .5rem .75rem;
  border-radius: 50% !important;
  color: #007bff !important;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover, .previous-link:hover, .next-link:hover {
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.previous-link , .next-link {
  border-radius: 2rem !important;
  width: 4.5rem;
}

.link-active {
  cursor: default;
  background-color: rgb(7, 151, 195);
  border-color: rgb(7, 151, 195);
  color: #fff !important;
}

.link-active:hover {
  background-color: rgb(7, 151, 195);
  border-color: rgb(7, 151, 195);
  color: #fff !important;
}

.disabled .next-link, .disabled .previous-link {
  cursor: default;
  color: #6c757d !important;
  background-color: #f5f5f5;
}

.break-me {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  color: #007bff !important;
}
