.search-container {
  position: relative;
}

.search-field-container {
  position: relative;
  display: flex;
  align-items: center;
}

.backdrop-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 450;
}

.search-field {
  padding-right: 2.8rem;
  border-radius: 2rem;
  border-color: #e4e4e4; /* TODO: Move this into theme */
}

.search-icon {
  position: absolute;
  right: 1.2rem;
}
