.card-section {
  width: 100%;
  padding: 15px;
}

.title {
  margin: 15px 0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.more-button {
  margin: 15px;
  text-align: center;
  font-size: 1rem;
}
.btn {
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  .btn {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.7rem;
  }
}
