.list {
  display: block;
  margin-bottom: 1rem;
  padding-right: 0;
}

.title,
.persistent-title {
  display: inline-block;
  margin: 0 0 1rem 0.55rem;
  font-size: 0.9rem;
}

.title {
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.2);
  background-color: white;
  transition: color 0.1s ease-out, background-color 0.1s ease-out;
  cursor: pointer;
  padding: 0.55rem 1.1rem;
}
.title:hover {
  background-color: #1775d0 !important;
  color: white !important;
}

.title:hover .link-tag {
  color: white !important;
}

.persistent-title > div {
  position: relative;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.persistent-title > div > input {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 0 !important;
  width: 100%;
  height: 100%;
  border: none !important;
  border-radius: 7px !important;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.2);
  background-image: unset !important;
  transition: background-color 0.15s ease;
}

.persistent-title > div > input:hover {
  background-color: #399efd;
}
.persistent-title > div > input:checked {
  background-color: #1775d0;
}

.persistent-title > div > label {
  display: inline-block !important;
  position: relative;
  padding: 0.55rem 1.1rem !important;
  transition: color 0.15s ease;
  cursor: pointer;
}

.persistent-title > div > label:hover,
.persistent-title > div > input:checked + label {
  color: white;
}

.limit-action {
  background: #ddd;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.limit-action:hover {
  background: #ddd!important;
  color: #000!important;
}