.section {
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}

.header {
  margin: 1rem 0 1.25rem;
  font-size: 1.75rem;
  text-align: center;
  color: white;
}

.left-column, .right-column {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 3px rgba(100, 100, 100, 0.15);
}

.right-column-container {
  order: 2;
  margin-bottom: 0.5rem;
}

.right-column {
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
}

.left-column-container {
  order: 1;
  margin-bottom: 0.5rem;
}

.left-column {
  position: relative;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-icon-col {
  text-align: center;
  font-size: 0.95rem;
}

.mini-icon-img {
  display: block;
  width: 2rem;
  margin: 0 auto 0.5rem;
  opacity: 0.3;
}

.register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.discount-section {
  display: flex;
  width: 100%;
  max-width: 250px;
  margin-bottom: 1.5rem;
}

.input-field {
  max-width: 250px;
  margin-bottom: 0.5rem;
  border: 1px solid #27c2d8 !important;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
}
.input-field:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.2) !important;
}

.discount-field {
  margin-bottom: 0.5rem;
  direction: ltr;
}

.discount-button {
  margin: 0 1rem 0 0;
  white-space: nowrap;
}

.discount-amount-container {
  display: inline-block;
  margin: 0 auto;
  font-size: 0.9rem;
  text-align: center;
}

.discount-cancel-btn {
  margin-top: 0.5rem;
  padding: 0.2rem 0.35rem;
  font-size: 0.75rem;
}

.discount-cancel-icon {
  font-size: 1.5em;
}

.textbox-info {
  text-align: center;
  font-size: 0.9rem;
}

.gov-sidebar-bottom {
  margin-top: -1rem;
}

.action-section {
  margin: 1.5rem auto;
  text-align: center;
}

.old-price {
  font-size: 0.9rem;
  text-decoration: red line-through;
}

.discount {
  margin-right: 1rem;
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: gold;
}

.price {
  margin: 0.5rem 0 1.25rem;
  font-size: 2rem;
}

.login-cta-text {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  color: #888;
}

.login-btn {
  border: none !important;
  background-color: #17a2b8 !important;
  color: white !important;
}
.login-btn:hover {
  background-color: #138496 !important;
}

.action-button {
  font-size: 1rem;
}

.action-enroll {
  border: none;
  background-color: #029d02;
}
.action-enroll:hover {
  background-color: #00b000;
}
.action-enroll:active {
  background-color: #009500;
}

.phone-section {
  text-align: center;
}

.phone-icon {
  display: inline-block;
  width: 2rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.phone-number {
  font-size: 1rem;
  font-weight: bold;
}

.status-registered,
.status-disabled,
.status-not-open,
.status-closed,
.status-full {
  font-size: 1rem;
}

.status-welcome,
.status-registered {
  color: #0fa00f;
}

.status-welcome {
  font-size: 1.15rem
}

.status-disabled,
.status-not-open,
.status-closed,
.status-full {
  color: #cb0909;
}

.breadcrumb {
  font-size: 0.95rem;
  margin-bottom: -0.5rem;
}

.breadcrumb a {
  color: white;
}
.breadcrumb li:last-child {
  color: #ccc;
}
.breadcrumb li:before {
  color: #ddd !important;
}

.banner {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.black-bar {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 5px;
  background-color: #111;
  color: white;
  text-align: center;
}

.black-bar-button {
  margin-bottom: 0.75rem;
  color: #ccc !important;
  border-color: #ddd;
}

.black-bar-text-red:not(:last-child), .black-bar-text:not(:last-child) {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.black-bar-text-red {
  color: red;
}

.organization-logo {
  display: block;
  max-width: 100px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .discount-section {
    flex-wrap: wrap;
  }

  .discount-button {
    margin: 0 auto 0.75rem;
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
  }

  .organization-logo {
    max-width: 120px;
  }
}

@media screen and (min-width: 992px) {
  .right-column-container {
    order: 1;
  }

  .left-column-container {
    order: 2;
  }

  .input-field {
    font-size: 0.9rem;
  }

  .textbox-info {
    font-size: 0.75rem;
  }

  .discount {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
  }

  .price {
    font-size: 1.75rem;
  }

  .mini-icon-col {
    font-size: 0.8rem;
  }

  .black-bar {
    text-align: right;
  }

  .black-bar-button {
    margin: 0 0 0 1.75rem !important;
  }

  .right-column {
    justify-content: space-evenly;
    min-height: 34rem;
  }

  .emoji {
    width: 3.25rem;
  }
}
