.webinar-calendar {
  position: relative;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  margin: 3rem 0;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
  background-color: #fff;
}

.asanquiz-add-btn {
  width: 30%;
  min-width: 200px;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.calendar-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1112;
  z-index: 1050;
}

.calendar-loading-text {
  padding: 0.1rem 0.2rem 0.25rem;
  border-radius: 35% / 50%;
  font-size: 1.2rem;
  background-color: #fffa;
}

.rbc-toolbar {
  margin-bottom: 1.5rem;
}

.rbc-toolbar-label {
  font-size: 2.2rem;
  margin-bottom: 0;
}

.event-style {
  display: block;
  padding: 2px 1px !important;
  font-size: 0.8rem;
  background-color: unset !important;
  cursor: default;
}

.day-number {
  position: relative;
  height: 100%;
  font-size: 1.2rem;
  z-index: 450;
}

.event {
  border-radius: 5px;
  padding: 2px 1px 0;
  text-align: center;
  font-size: 12px;
  white-space: normal;
  background-color: #93abac;
  color: white;
}

.quiz-badge {
  margin-left: 1.25rem;
  margin-bottom: 0.5rem;
  padding: 3px 0.3rem;
  vertical-align: top;
  font-weight: bold;
  font-size: 10px;
  background-color: #ff5722;
}

.quiz-checkmark {
  margin-left: 0.2rem;
  font-size: 0.75rem;
}

.videoquiz-answers-not-ready-btn,
.videoquiz-answers-btn,
.playback-btn,
.status {
  display: block;
  padding: 4px;
  border-radius: 3px;
  font-size: 11px;
  color: #fff;
}
.status:hover {
  color: #fff;
}

.videoquiz-answers-not-ready-btn,
.videoquiz-answers-btn,
.playback-btn {
  margin-top: 2px;
}

.videoquiz-answers-not-ready-btn,
.videoquiz-answers-btn {
  background-color: #ff5722;
  border-color: #c13c15;
}
.videoquiz-answers-btn:hover {
  background-color: #ff6b3d;
  border-color: #db542c;
  cursor: pointer;
}

.asanquiz-state-planned,
.status-planned {
  background-color: #007bff;
}
.status-canceled {
  background-color: #a13939;
}
.asanquiz-state-ongoing {
  background-color: #c90b0b;
  animation: asanquiz-ongoing-animation infinite 0.75s alternate ease-in;
  color: white;
}
.asanquiz-state-pending_submit,
.asanquiz-state-submitting,
.asanquiz-state-initial_submit {
  background-color: #9acbfd;
  color: #075ebf;
}
.asanquiz-state-finalized,
.status-finished {
  background-color: #818284;
}

@keyframes asanquiz-ongoing-animation {
  0% {
    color: white
  }
  100% {
    color: #d93030;
  }
}

.status-running, .playback-btn {
  cursor: pointer;
  background-color: #029d02;
}
.status-running:hover, .playback-btn:hover {
  background-color: #00b000;
}
.status-running:active, .playback-btn:active {
  background-color: #009500;
}

.disabled {
  background-color: #679a67;
  pointer-events: none;
}

.btn-enter-icon {
  margin-left: 0.2rem;
}

.playback-btn-icon {
  position: relative;
  top: -0.075rem;
  left: -0.2rem;
  font-size: 1rem;
}

.toolbar-btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bfe;
  color: #fff;
}

.toolbar-btn-icon {
  font-weight: bold;
}

.today-btn {
  margin-left: 20px;
  background-color: #5aaaff;
}

.next-btn {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.prev-btn {
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

.more-event-btn {
  margin: 0.3rem;
  text-align: right;
  font-size: 0.75rem;
}

.circle-red-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  width: 14.2857%;
  height: 4rem;
}

.circle-red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 1.3rem;
  margin: 0 0 0.5rem 0.5rem;
  border-radius: 2rem;
  background-color: #d91010;
  color: #fff;
}

.modal-event-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.modal-event-container .event {
  margin-bottom: 1rem;
  padding-top: 0.25rem
}

.close {
  font-size: 2rem;
  cursor: pointer;
}

.ml-1 {
  margin-left: 0.2rem;
}

@media screen and (min-width: 420px) {
  .circle-red-container {
    height: 5rem;
  }
}

@media screen and (max-width: 991.98px) {
  .day-number:hover:before {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
