.tabs {
  margin: 1rem 0;
  align-items: center;
}

.tab-item {
  margin: 0 0.5rem;
  border: 2px solid #0d6efd;
  border-radius: 2rem;
  font-size: 1.35rem;
  color: #0d6efd;
}
.tab-item:hover {
  color: #247eff;
}

.tab-bar-side-buttons {
  margin-right: auto;
  margin-top: 2rem;
}

.tab-bar-side-btn {
  margin-right: 1rem;
  padding: 0.275rem 0.6rem;
  border-radius: 8px;
  font-size: 0.8rem;
}

.tab-bar-icon {
  margin-right: 0.55rem;
  font-size: 1rem;
}

.asanquiz-add-btn {
  width: 30%;
  min-width: 200px;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 420px) {
  .tab-bar-side-buttons {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container-limit {
    max-width: 1080px !important;
  }
}
