.header {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.title {
  font-size: 1.35rem;
  margin-bottom: 1.5rem;
}

.no-description {
  margin: 3rem 0;
  text-align: center;
}

.no-description-image {
  width: 12rem;
  margin-bottom: 2rem;
}

.no-description-text {
  font-size: 1.1rem;
}

.description {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h1, h2, h3 {
    font-weight: 700;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  h4, h5, h6 {
    font-weight: 600;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.75;
  }

  video, img, table, picture {
    max-width: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: 768px) {
  .description {
    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.55rem;
    }

    h3 {
      font-size: 1.25rem;
    }

    h4 {
      font-size: 1rem;
    }

    h5 {
      font-size: 0.85rem;
    }

    h6 {
      font-size: 0.75rem;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.5;
      font-weight: 500;
    }
  }
}