.participants-number {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.participants-text {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  text-align: center;
  color: #BFC4C8;
}

.avatar {
  border-radius: 50%;
  width: 4.5rem;
  margin-left: 1rem;
}

.instructor-avatar-container {
  display: flex;
  align-items: center;
  margin: 2rem 0 1.5rem;
}

.instructor-name {
  font-size: 1.3rem;
  max-width: 165px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.instructor-follow {
  font-size: 1rem;
  color: #4e13d1;
  font-weight: bold;
  margin-right: 1rem;
  white-space: nowrap;
  cursor: pointer;
}

.job {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #aaa;
}

.instructor-link {
  color: #222;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline !important;
  margin: 2rem 0;
  display: block;
}

.description {
  font-size: 1.2rem;
}

.tags-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 2rem 0 1.5rem;
}

@media screen and (min-width: 768px) {
  .participants-number {
    font-size: 1.2rem;
  }

  .instructor-name {
    font-size: 1.1rem;
  }

  .job {
    font-size: 0.85rem;
  }

  .description {
    font-size: 1rem;
  }
}
