.meetings {
  max-width: 1000px;
  margin: 0 auto 1.5rem;
  /* This variable requires bootstrap 5 */
  padding: 0 var(--bs-gutter-x, 0.75rem);
}

.title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.no-meeting {
  margin: 3.5rem auto 4rem;
  text-align: center;
  font-size: 1.45rem;
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 1.3rem;
  }
}
