.meetings {
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.meeting {
  padding: 14px 1.25rem;
}
.meeting:nth-child(2n + 1) {
  background-color: #ddd;
}

.meeting-title {
  margin-bottom: 14px;
  line-height: 1.5;
  font-size: 1.25rem;
}

.asanquiz-state-planned,
.asanquiz-state-ongoing,
.asanquiz-state-pending_submit,
.asanquiz-state-submitting,
.asanquiz-state-initial_submit,
.asanquiz-state-finalized,
.status-planned,
.status-running,
.status-canceled,
.status-finished {
  color: white;
  padding: 3px 10px;
  width: 120px;
  text-align: center;
  border-radius: 5px;
}

.status-running {
  padding: 0;
}
.status-running:not([disabled="true"]) {
  cursor: pointer;
}

.asanquiz-state-planned,
.status-planned {
  background-color: #007bff;
}
.status-canceled {
  background-color: #a13939;
}
.asanquiz-state-ongoing {
  background-color: #c90b0b;
  animation: asanquiz-ongoing-animation infinite 0.75s alternate ease-in;
  color: white;
}
.asanquiz-state-pending_submit,
.asanquiz-state-submitting,
.asanquiz-state-initial_submit {
  background-color: #9acbfd;
  color: #075ebf;
}
.asanquiz-state-finalized,
.status-finished {
  background-color: #6c757d;
}

@keyframes asanquiz-ongoing-animation {
  0% {
    color: white
  }
  100% {
    color: #d93030;
  }
}

.asanquiz-enter {
  margin-top: 0.5rem;
}

.button-enter {
  width: 100%;
  font-size: 0.9rem;
}

.btn-enter-icon {
  margin-left: 0.2rem;
}

.quiz-badge {
  margin-right: 0.5rem;
  padding: 0.2rem 0.4rem 0.3rem 0.4rem;
  vertical-align: top;
  font-weight: bold;
  font-size: 0.7rem;
  background-color: #ff5722;
}

.quiz-checkmark {
  margin-left: 0.2rem;
  font-size: 0.9rem;
}

.quiz-answers-btn,
.quiz-answers-not-ready-btn {
  font-size: 0.9rem;
  background-color: #ff5722 !important;
  border-color: #c13c15 !important;
}
.quiz-answers-btn:hover,
.quiz-answers-not-ready-btn:hover {
  background-color: #ff6b3d !important;
  border-color: #db542c !important;
}

.quiz-answers-not-ready-btn {
  font-size: 0.85rem;
  padding: 0.375rem;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-replay {
  width: 100%;
  padding: 15px 0;
  border-radius: 0;
  position: relative;
}

.status-text {
  font-size: 1.1rem;
}

.status-running > .status-text {
  display: inline-block;
  padding: 5px 10px;
}

.datetime-time,
.datetime-date {
  font-size: 1rem;
}

.playback-btn {
  width: 100%;
}

.playback-btn-icon {
  position: relative;
  top: -0.075rem;
  left: -0.2rem;
  font-size: 1.1rem;
}

.link-container {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #e0e0e0;
}

.meeting:nth-child(2n + 1) .link-container {
  border-top-color: #cbcbcb;
}

.download-link-icon {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}

.download-link-title {
  font-size: 0.9rem;
  opacity: 0.65;
}

.btn-success, .status-running {
  background-color: #029d02;
}
.btn-success:hover, .status-running:hover {
  background-color: #00b000;
}
.btn-success:active, .status-running:active {
  background-color: #009500;
}

.no-meeting {
  margin: 3rem 0;
  text-align: center;
}

.no-meeting-image {
  width: 12rem;
  margin-bottom: 2rem;
}

.no-meeting-text {
  font-size: 1.1rem;
}

@media screen and (min-width: 992px) {
  .meeting-title {
    font-size: 1.15rem;
  }

  .datetime-time,
  .datetime-date {
    font-size: 0.9rem;
  }

  .status-text {
    font-size: 0.9rem;
  }

  .button-enter {
    font-size: 0.8rem;
  }

  .download-link-title {
    font-size: 0.8rem;
  }
}
