.emojies {
  position: relative;
  margin: 0 auto 1rem;
  height: 3.75rem;
  cursor: pointer;
}

.emoji {
  position: absolute;
  top: 0;
  right: calc(50% - 1.875rem);
  width: 3.75rem;
  transition: opacity 0.25s ease-out;
}

.rating {
  position: relative;
  height: 2rem;
}

.user-rating {
  color: #555;
  font-size: 0.9rem;
  text-align: center;
}

.rating-text {
  margin: 0 auto 1rem;
  opacity: 0.3;
}
