.body {
  padding: 4rem 0 2rem;
}

.body-row {
  margin: auto 0;
}

.courses-not-found {
  justify-content: center;
}

.main {
  padding-top: 3rem;
}

.main-title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  font-weight: bold;
  border-bottom: 1px solid #b5b5b4;
}

.search {
  max-width: 500px;
  margin: 3rem auto 1rem;
}

.search-field {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 2.8rem!important;
  border-radius: 2rem!important;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  border: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

@media screen and (min-width: 992px) {
  .main-title {
    padding-right: unset;
  }
}
