.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 290px;
  margin: 0 auto 50px;
}
.sidebar-head {
  width: 100%;
  padding: 5px;
  margin: 0 2px 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #2d4163;
  color: #ffffff;
}

.sidebar-body {
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hr {
  margin: 0 20px;
}

.blog-link {
  display: block;
}

.contacts {
  padding: 30px 60px 10px;
}

.contacts .organ-img{
  display: block;
  margin: auto;
  border-radius: 0;
  width: 135px;
  margin-bottom: 10px;
}

.contacts .name {
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.4rem;
}
.contact-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.contact-item-img {
  width: 30px!important;
  margin-left: 10px;
  margin-bottom: 0!important;
}

.contact-item-phone {
  color: #394649;
  font-size: 1.3rem;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 60px;
}

.social-item {
  margin: 5px 0;
}

.social-item-link {
  display: flex;
  align-items: center;
}

.social-item-img {
  width: 30px;
  margin-left: 10px;
  margin-bottom: 0;
}

.social-item-text {
  font-size: 1.3rem;
  color: #394649;
  opacity: 50%;
}

.social-item-text:hover {
  color: #394649;
  opacity: 80%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 15px;
}

.footer-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  color: #394649;
}

.footer-link {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #394649;
  opacity: 50%;
}

.follow-btn {
  padding: 5px 25px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ef394e;
  color: #ffffff;
}

@media screen and (min-width: 420px) {
  .sidebar {
    width: 380px;
  }

  .contacts {
    padding: 30px 100px 15px;
  }

  .contacts .organ-img{
    width: 150px;
  }

  .contact-item-phone {
    font-size: 1.5rem;
  }

  .social {
    padding: 15px 100px;
  }

  .social-item-text {
    font-size: 1.5rem;
  }

  .footer {
    padding: 15px;
  }

  .footer-title {
    margin-bottom: 10px;
  }

  .footer-title {
    font-size: 1.6rem;
  }

  .footer-link {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
  .follow-btn {
    padding: 5px 25px;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 576px) {
  .sidebar {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto 50px;
  }

  .contacts {
    padding: 15px 0;
  }

  .contacts .organ-img{
    width: 100px;
  }

  .contact-item-phone {
    font-size: 1.1rem;
  }

  .social {
    padding: 15px 0;
  }

  .social-item-text {
    font-size: 1.1rem;
  }

  .footer {
    padding: 15px 0;
  }

  .footer-title {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .footer-link {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .follow-btn {
    padding: 5px 25px;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    padding: 25px 0;
  }

  .contacts .organ-img{
    width: 120px;
  }

  .contact-item-phone {
    font-size: 1.1rem;
  }

  .social {
    padding: 25px 0;
  }

  .social-item-text {
    font-size: 1.1rem;
  }

  .footer {
    padding: 25px 0;
  }

  .footer-title {
    font-size: 1.6rem;
  }

  .footer-link {
    font-size: 1.1rem;
  }

  .follow-btn {
    padding: 5px 25px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    margin: 0 auto;
  }

  .sidebar-body {
    display: flex;
    flex-direction: column;
    align-items: unset;
    flex-wrap: unset;
  }

  .hr {
    margin: 0 25px;
  }

  .contacts {
    padding: 30px 30px 10px;
  }

  .contacts .organ-img{
    width: 100px;
  }

  .contact-item-phone {
    font-size: 0.9rem;
  }

  .social {
    padding: 10px 30px;
  }

  .social-item-text {
    font-size: 0.9rem;
  }

  .footer {
    padding: 10px 15px 15px;
  }

  .footer-title {
    font-size: 1.1rem;
  }

  .footer-link {
    margin-bottom: 15px;
    font-size: 1rem;
  }

  .follow-btn {
    padding: 5px 25px;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar{
    width: 270px;
  }

  .hr {
    margin: 0 40px;
  }

  .contacts {
    padding: 30px 50px 10px;
  }

  .contacts .organ-img{
    width: 120px;
  }

  .contact-item-phone {
    font-size: 1rem;
  }

  .social {
    padding: 10px 50px;
  }

  .social-item-text {
    font-size: 1rem;
  }

  .footer-link {
    font-size: 1.05rem;
  }
}

@media screen and (min-width: 1400px) {
  .sidebar{
    width: 300px;
  }

  .hr {
    margin: 0 50px;
  }

  .contacts {
    padding: 35px 55px 15px;
  }

  .contacts .organ-img{
    width: 135px;
  }

  .contact-item-phone {
    font-size: 1.1rem;
  }

  .social {
    padding: 15px 55px;
  }

  .social-item-text {
    font-size: 1.1rem;
  }

  .footer-link {
    font-size: 1.1rem;
    margin-bottom: 25px;
  }
}
