.header {
  background: linear-gradient(90deg, #0394f7, #30396e);
  color: #ffffff;
}

.header-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.header-about-img img{
  width: 120px;
  border-radius: 0;
  margin-bottom: 15px;
}

.header-about-card {
  width: auto;
  min-width: 200px;
  max-width: 275px;
  border-radius: 10px;
  padding: 15px 15px 10px;
  margin: 0 auto;
  background-color: #274d88;
  transition: all 0.5s;
}

.header-about-card .name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.header-about-card .explain {
  font-size: 0.75rem;
  height: auto;
  max-height: 25px;
  overflow: hidden;
  transition: all 0.5s;
}

.header-about-card .explain.expand {
  max-height: 300px;
  transition: all 0.5s;
}

.header-about-card .more-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: left;
  width: 75px;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #456da1;
  border-radius: 10px;
  font-size: 0.8rem;
  cursor: pointer;
}

.header-about-card .more-btn .plus {
  font-size: 1.4rem;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

@media screen and (min-width: 576px) {
  .header-about {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .header-about-card {
    margin: 0 25px 0 0;
  }

  .header-info {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .header-about-card {
    max-width: 300px;
  }

  .header-about-card .explain {
    max-height: 30px;
  }

  //.header-about-card .explain.expand {
  //  height: 100px;
  //}
}

@media screen and (min-width: 992px) {
  .header-about {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    padding: 25px 0;
  }

  .header-about-img img{
    width: 90px;
    margin-bottom: 0;
  }

  .header-about-card {
    max-width: 200px;
  }

  .header-about-card.expand {
    max-width: 300px;
  }

  .header-about-card .name {
    font-size: 0.7rem;
  }

  .header-about-card .explain {
    max-height: 25px;
    font-size: 0.6rem;
  }

  //.header-about-card .explain.expand {
  //  height: 90px;
  //}

  .header-about-card .more-btn {
    width: 70px;
    padding: 2px 10px;
    font-size: 0.6rem;
  }

  .header-about-card .more-btn .plus {
    font-size: 1.1rem;
  }

  .header-info {
    justify-content: flex-end;
    padding: 25px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-about-img img{
    width: 105px;
  }

  .header-about-card {
    max-width: 250px;
    padding: 20px 20px 10px 10px;
  }

  .header-about-card .name {
    font-size: 0.8rem;
  }

  .header-about-card .explain {
    max-height: 30px;
    font-size: 0.65rem;
  }

  //.header-about-card .explain.expand {
  //  height: 110px;
  //}

  .header-about-card .more-btn {
    width: 70px;
    padding: 2px 10px;
    font-size: 0.65rem;
  }

  .header-about-card .more-btn .plus {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1400px) {
  .header-about {
    padding: 25px 75px 25px 0;
  }

  .header-info {
    padding: 25px 0 25px 25px;

  }

  .header-about-card {
    max-width: 270px;
    padding: 15px 20px 10px 10px;
  }

  .header-about-card.expand {
    max-width: 350px;
  }

  .header-about-card .name {
    font-size: 1rem;
  }

  .header-about-card .explain {
    max-height: 35px;
    font-size: 0.75rem;
  }

  //.header-about-card .explain.expand {
  //  height: 145px;
  //}

  .header-about-card .more-btn {
    width: 85px;
    padding: 5px 10px;
    font-size: 0.75rem;
  }

  .header-about-card .more-btn .plus {
    font-size: 1.2rem;
  }
}