.main-container {
  width: 100%;
  margin-top: 2rem;
  padding: 0.2rem 1rem;
  background-color: #000;
}

.contacts {
  margin: 0.5rem 0;
  align-items: center;
  color: white;
}

.item {
  margin: 0.5rem 0;
  text-align: center;
}