.stats-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 85px;
  margin: 10px auto;
  padding: 15px 0;
  border-radius: 7px;
  text-align: center;
  background: linear-gradient(90deg, #30396e, #0394f7);
  color: #ffffff;
}

.stats-card-img {
  order: 3;
  width: 50px;
}

.stats-card-count {
  order: 2;
  font-size: 1.8rem;
  margin: 0 20px;
}

.stats-card-title {
  order: 1;
  opacity: 50%;
  font-size: 1.2rem;
}

@media screen and (min-width: 576px) {
  .stats-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 170px;
    margin: 15px;
  }

  .stats-card-img {
    order: 1;
  }

  .stats-card-count {
    order: 2;
    font-size: 1.5rem;
    margin: 20px 0;
  }

  .stats-card-title {
    order: 3;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .stats-card-count {
    font-size: 1.3rem;
  }

  .stats-card-title {
    order: 3;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 992px) {
  .stats-card {
    width: 100px;
    height: 170px;
    margin: 0 10px;
    padding: 15px 0;
    border-radius: 7px;
  }

  .stats-card-img {
    width: 50px;
  }

  .stats-card-count {
    font-size: 1.5rem;
    margin: 10px 0;
  }

  .stats-card-count {
    font-size: 1.2rem;
  }

  .stats-card-title {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 1200px) {
  .stats-card {
    width: 120px;
    height: 200px;
  }

  .stats-card-img {
    width: 60px;
    margin-bottom: 20px;
  }

  .stats-card-count {
    font-size: 1.3rem;
  }

  .stats-card-title {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1400px) {
  .stats-card {
    width: 145px;
    height: 245px;
  }

  .stats-card-img {
    width: 65px;
    margin-bottom: 35px;
  }

  .stats-card-count {
    font-size: 1.4rem;
  }

  .stats-card-title {
    font-size: 0.8rem;
  }
}