
.modal-header {
  border-top: 5px solid;
  border-bottom: none!important;
  border-image: linear-gradient(to left, #044274, #0884e8) 1;
}

.modal-body {
  border-top: 1px solid #dee2e6;
}

.modal-footer {
  border-top: none!important;
}

.modal-title {
  font-weight: bold;
  color: #254c82;
}

.form {
  display: flex;
  align-items: center;
  position: relative;
}

.label {
  margin-left: 1rem;
}

.input {
  padding-left: 60px;
  direction: rtl;
}

.input.border-red {
  border: 1px solid #e74c3c;
  color: #e74c3c;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
}

.input:focus {
  box-shadow: none!important;
}

.error {
  margin-top: 1rem;
  color: #e74c3c;
  text-align: center;
}

.tag {
  position: absolute;
  left: 0;
  margin: 2px;
  padding: 3px 8px;
  border-radius: 5px;
  background-color: #b3b3b3;
  color: #ffffff;
}

.payment-button {
  width: 75px;
  background-image: linear-gradient(to right , #0e81de , #065fa7);
  color: #ffffff;
}

.payment-button:focus , .cancel-button:focus {
  box-shadow: none!important;
}

@media screen and (min-width: 768px){
  .payment-button {
    width: 100px;
  }
}

@media screen and (min-width: 992px){
  .tag {
    padding: 4px 10px;
  }
}