.modal-header {
  border-top: 5px solid;
  border-bottom: none!important;
  border-image: linear-gradient(to left, #044274, #0884e8) 1;
  color: #254c82;
}

.modal-body {
  border-top: 1px solid #dee2e6;
  color: #254c82;
}

.buttons {
  margin-top: 1.5rem;
  float: left;
}

.modal-title {
  font-weight: bold;
}

.form {
  padding: 1rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  border-color: #e6e6e6;
  margin: 5px 0;
  padding-left: 3rem;
  direction: ltr;
  border-radius: 8px;
  text-align: right;
  background-color: #f7f7f7;
  transition: background-color 0.15s ease-out, border-color 0.15s ease-out;
}

.input:focus {
  box-shadow: unset!important;
  border: 1px solid #ddd;
  color: #888888;
}

.error {
  margin: 2px 0 5px;
  font-size: 0.95rem;
  text-align: center;
  color: #e74c3c;
}

.error:before {
  content: '*';
  margin-left: 5px;
}

.edit-button {
  width: 75px;
  margin-right: 0.75rem;
  background-image: linear-gradient(to right , #0e81de , #065fa7);
  color: #fff;
}

.edit-button:focus , .cancel-button:focus {
  box-shadow: none!important;
}

.pass-input {
  display: flex;
  align-items: center;
}

.eye {
  position: absolute;
  left: 3rem;
  cursor: pointer;
}

@media screen and (min-width: 768px){
  .edit-button {
    width: 100px;
  }
}

