.card {
  margin: 0;
  border: none;
  border-radius: 8px;
  color: #4B4B4B;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  height: unset;
}

.card-img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1rem;
}

.title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  line-height: 1.5;
  vertical-align: top;
  font-size: 1.2rem;
  color: #2c2c2c;
}
.title:hover {
  color: #6B6B6B;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.2rem;
}

.price-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0460ac;
}

.price-percent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 0.4rem 1rem;
  font-size: 1.25rem;
  background-color: #fcc314;
  color: #294c83;
}

.price-percent span {
  margin-right: 3px;
  font-size: 0.9rem;
}

.icon {
  margin-left: 3px;
  font-size: 1.1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  flex-wrap: wrap;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 110px;
  margin: auto;
  padding: 0.6rem;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.1rem;
  background-image: linear-gradient(270deg,#0460ac,#0c79d3);
  color: #fff;
}

.card-btn:focus {
  outline: 0!important;
}

.hidden-page-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0;
  z-index: -1;
}

.modal {
  max-width: 300px;
  border-radius: 10px;
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 2rem;
}

.modal-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  padding: 1rem;
  border-radius: 50%;
  background-color: #fcc314;
}

.modal-stats-icon {
  font-size: 2rem;
  color: #0562af;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
}

.modal-close-icon {
  font-size: 1.8rem;
}

.modal-webinar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 0 1rem;
}

.modal-webinar-img {
  width: 150px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.modal-webinar-title {
  font-size: 0.9rem;
  font-weight: 800;
  text-align: center;
  color: #959595;
}

.modal-stats-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.modal-stats-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: #0562af;
}

.modal-stats-text {
  font-size: 1.5rem;
}

.modal-icon {
  font-size: 3.5rem;
}

.table {
  text-align: center;
  vertical-align: middle;
  border-radius: .85rem;
  overflow: hidden;
  font-size: .85rem;
  box-shadow: 0 4px 15px rgb(149 157 165 / 15%);
}

.table-head {
  background-image: linear-gradient(to left , #044274, #0884e8);
  color: #ffffff;
}

@media screen and (min-width: 420px) {
  .title {
    font-size: 1rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 576px) {
  .card-body {
    padding: 1.2rem 1.2rem 0.5rem;
  }

  .card-btn {
    font-size: 0.8rem;
  }

  .icon {
    font-size: 0.9rem;
  }

  .price-text {
    font-size: 1.2rem;
  }

  .price-percent {
    font-size: 0.9rem;
  }

  .price-percent span {
    font-size: 0.7rem;
  }

  .footer {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .main, .footer {
    font-size: 0.85rem;
  }

  .modal {
    max-width: 400px;
  }

  .modal-icon {
    font-size: 3rem;
  }

  .modal-stats-text {
    font-size: 1.3rem;
  }

  .table th, .table tr{
    font-size: 0.9rem;
  }

  .icon {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .main, .footer {
    font-size: 0.75rem;
  }

  .card-btn {
    font-size: 0.6rem;
    padding: 0.3rem;
  }

  .icon {
    font-size: 0.8rem;
  }

  .price-text {
    font-size: 1rem;
  }

  .price-percent {
    padding: 0.4rem 0.6rem;
    font-size: 0.75rem;
  }

  .price-percent span {
    font-size: 0.5rem;
  }

  .modal-icon {
    font-size: 2.5rem;
  }

  .modal-stats-text {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1400px) {
  .card-btn {
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
  }
}
