.meetings {
  padding: 1rem;
}

.point {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 2rem;
  color: red;
}

.title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 2rem;
  color: #12469c;
}
