.row {
  align-items: center;
}

.meeting-item {
  margin: 10px 0;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 0.9rem;
  background-color: #f9f9f9;
  color: #355c95;
}
.meeting-item:nth-child(2n) {
  background-color: #beffff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d6d6d6;
  font-weight: bold;
}

.meeting-logo {
  width: 25px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.meeting-title {
  text-align: right;
}

.chevron-style {
  font-size: 12px;
  margin-right: 0.3rem;
}

.subject {
  margin-bottom: 1.5rem;
  text-align: center;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.date-icon {
  margin-left: 0.7rem;
}

.date-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: default;
}

.date-text-date {
  margin-right: 5px;
}

.planned,
.finished,
.canceled,
.running,
.enter,
.link {
  display: block;
  width: 100%;
  padding: 6px 10px;
  border-radius: 50px;
  border: unset !important;
  text-align: center;
  background-image: linear-gradient(to left, #0460ac, #0c79d3);
  font-size: 1rem;
  color: #fff;
}

.running,
.enter {
  background-image: linear-gradient(to left, #26a708, #13d30c);
}
.enter:hover {
  background-image: linear-gradient(to left, #2bc407, #11e509);
  color: white;
}

.enter,
.link {
  cursor: pointer;
}

.link:hover {
  color: #ffffff;
}

.canceled {
  text-align: center;
  background-image: linear-gradient(to left, #d43b2b, #f65a4a);
}

.finished {
  text-align: center;
  background-image: linear-gradient(to left, #666666, #959595);
}

@media screen and (min-width: 420px) {
  .enter,
  .link {
    width: 120px;
    margin: auto;
  }
}

@media screen and (min-width: 576px) {
  .title {
    justify-content: flex-start;
    margin-bottom: 0;
    padding-bottom: unset;
    border-bottom: unset;
  }

  .subject , .date {
    margin-bottom: 0;
  }

  .enter {
    width: 95%;
    min-width: 85px;
    margin-left: 0;
  }

  .link {
    margin-left: 0;
  }
}
