.row {
  align-items: center;
}

.order-item {
  margin: 10px 0;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 0.9rem;
  background-color: #f7f7f7;
  color: #355c95;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.order-logo {
  width: 25px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.order-title {
  text-align: right;
  cursor: default;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.status-success {
  color: #0dc472;
}

.status-fail {
  color: #df1717;
}

.status-neutral {
  color: #777;
}

.status-icon {
  margin-left: 0.7rem;
}

.status-text {
  cursor: default;
}

.link {
  display: block;
  width: 100%;
  padding: 5px 15px;
  border-radius: 50px;
  text-align: center;
  background-image: linear-gradient(to left, #0460ac, #0c79d3);
  color: #ffffff;
}

.link:hover {
  color: #ffffff;
}

@media screen and (min-width: 420px) {
  .link {
    width: 100px;
    margin: auto;
  }
}

@media screen and (min-width: 576px) {
  .title {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .status {
    margin-bottom: 0;
  }

  .link {
    width: 120px;
    margin-left: 0;
  }
}
