.orders {
  padding: 1rem;
  margin-bottom: -2rem;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  text-align: center;
}

.first-text {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}
