.slider {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
}

.slide {
  height: 100% !important;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;
}

.pagination span {
  margin: 2px 3px;
}

.banner {
  border: unset;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
}

.banner-body {
  padding: 0;
  border-radius: 6px;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 992px) {
  .slider {
    max-width: unset;
    margin-top: 0;
  }
}
