.main {
  min-height: calc(100vh - 60px);
  padding: 8rem 0 0;
}

.breadcrumb {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.breadcrumb ol {
  align-items: center;
}

.logo {
  width: 25px;
  margin-left: 5px;
}

.title {
  font-size: 1.8rem;
  text-align: center;
  line-height: 30px;
}

.slider {
  margin: auto;
}

.section {
  padding: 1rem;
  margin-bottom: 1rem;
}

.secondary-title {
  width: fit-content;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid #b07515;
  font-size: 1.5rem;
}

.description {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
}

.description {
  video, img, table, picture {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h1, h2, h3 {
    font-weight: 700;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  h4, h5, h6 {
    font-weight: 600;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.75;
  }

}

.swiper-main {
  position: relative;
  background-color: #fff;
}

.swiper-slide {
  display: flex;
  height: auto;
}

.slider-btn-next, .slider-btn-prev {
  background-color: initial;
}

.link {
  width: 100%;
}

.img {
  width: 100%;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .main {
    min-height: calc(100vh - 80px);
  }

  .description {
    font-size: 1.1rem;

    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.55rem;
    }

    h3 {
      font-size: 1.25rem;
    }

    h4 {
      font-size: 1rem;
    }

    h5 {
      font-size: 0.85rem;
    }

    h6 {
      font-size: 0.75rem;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.5;
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 992px) {
  .main {
    min-height: calc(100vh - 185px);
    padding: 2rem 0 0;
  }

  .title {
    line-height: 45px;
    margin-bottom: 1rem;
  }
}