.brand {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media screen and (min-width: 992px) {
  .brand {
    min-height: unset;
    scroll-snap-type: unset;
    height: unset;
    overflow-y: unset;
  }
}