.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main.premium {
  scroll-snap-align: start;
  min-height: 90vh;
  padding-top: 5rem;
}

.contact-section {
  width: 100%;
}

.box {
  height: fit-content;
  margin: 0 1.5rem 2rem;
}

.brand-logo {
  display: block;
  width: 96px;
  height: 96px;
  margin: 1.5rem auto;
  //border: 1px solid #ccc;
  border-radius: 0;
}

.brand-title {
  font-weight: 800;
  text-align: center;
  line-height: 1.7;
  color: #242b83;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.social-title {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #ebf3ff;
  color: #242b83;
}

.social-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  padding: 1rem 0 0;
}

.social-item {
  width: 48%;
  height: 40px;
  margin: 0.6rem 0;
  border: 1px solid #ebf3ff;
  border-radius: 50px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: rgba(235, 243, 255, 0.75) 0 5px 10px;
}

.social-item:hover {
  box-shadow: 0 4px 10px #cfe1fc;
}

.social-item-large {
  width: 100%;
  max-width: unset;
}

.social-item-share {
  background-color: #fcc314;
}

.social-item-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.3rem 0.5rem;
}

.social-item-share .social-item-link {
  justify-content: center;
}

.social-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.5rem;
}

.social-item-share .social-item-icon {
  position: initial;
  margin-left: 0.5rem;
}

.social-item-img {
  font-size: 1.3rem;
  width: 18px;
  margin-bottom: 0;
}

.social-item-text {
  font-weight: 700;
  color: #254c82;
}

.whatsapp-icon {
  color: #25D366;
  filter: invert(55%) sepia(65%) saturate(481%) hue-rotate(90deg) brightness(103%) contrast(103%);
}

.address {
  margin-top: 2rem;
  padding: 1.6rem;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  text-align: center;
  line-height: 1.8rem;
  background-color: #fff;
  color: #20222a;
}

.address-label {
  font-weight: bold;
}

.modal {
  max-width: 300px;
  border-radius: 10px;
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 1rem;
}

.modal-share {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -35px;
  width: 70px;
  height: 70px;
  padding: 1rem;
  border-radius: 50%;
  background-color: #fcc314;
}

.modal-share-icon {
  font-size: 2rem;
  color: #0d6efd;
}

.modal-share-icons-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.modal-share-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.modal-social-icon {
  width: 30px;
  cursor: pointer;
}

.hidden-page-link {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0;
  z-index: -1;
}

.form-link {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #0D9ED2 0%, #1067C6 100%);
  color: #fff;
}

.form-link:hover {
  background-color: #21D4FD;
  background-image: linear-gradient(0deg, #0D9ED2 0%, #1357A2 100%);

  color: #fff;
}

@media screen and (min-width: 420px) {
  .box {
    max-width: 400px;
    margin: 0 auto 2rem;
  }
  .social-item {
    height: 50px;
  }

  .social-item-link {
    padding: 0.5rem 1.2rem;
  }

  .social-item-text {
    font-size: 1.1rem;
  }

  .social-item-img {
    font-size: 1.5rem;
    width: 22px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 576px) {
  .box {
    max-width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .main {
    scroll-snap-align: unset!important;
    min-height: unset!important;
    padding: 0;
  }

  .contact-section {
    display: none;
  }

  .brand-logo {
    display: none;
  }

  .brand-title {
    font-size: 1.3rem;
  }

  .box {
    box-shadow: unset;
    max-width: unset;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 30px 15px 25px;
    border: 1px solid #c2d1d9;
    border-radius: 10px;
  }

  .contact {
    margin-top: 0;
    padding-bottom: 0;
  }

  .social-title {
    margin-top: 0;
  }

  .social-item-link {
    padding: 0.3rem 0.5rem;
  }

  .social-item-text {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .box {
    padding: 30px 22px;
  }
}