.card {
  position: relative;
  margin: 1rem 0;
  padding: 0;
  border: 1px solid rgba(194, 197, 206, 0.2);
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  height: unset;
  color: #4B4B4B;
  box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  background: #fff;
}

.slider {
  margin-top: 0;
}

.banner {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding-left: 12px;
  padding-right: 12px;
}

.card-body.is-slider {
  padding-top: 0;
}

.title {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.title:hover {
  color: #000;
  opacity: 0.9;
}

.description {
  position: relative;
  height: 36px;
  margin-bottom: 2.5rem;
  font-size: 10px;
  font-weight: normal;
  line-height: 18px;
  color: #636982;
  overflow: hidden;
}
.description:before {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#0000, white);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 10px;
  margin-left: 12px;
  padding: 0 1rem;
}

.service-code {
  font-size: 0.8rem;
  font-weight: 500;
  color: #b27f2a;
}

.more-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: #0d6efd;
}

.more-icon {
  margin-right: 3px;
}

@media screen and (min-width: 450px) {
  .card-body {
    padding-left: 18px;
    padding-right: 18px;
  }

  .card-footer {
    padding: 0 1.2rem;
    margin-left: 25px;
  }

  .user-text, .date-text {
    font-size: 0.9rem;
  }

  .title {
    font-size: 1.35rem;
  }

  .description {
    font-size: 11px;
  }

  .more-text {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 400px;
  }

  .card-body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-footer {
    margin-left: 12px;
  }

  .user-text, .date-text {
    font-size: 0.75rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .description {
    height: 40px;
    line-height: 20px;
    font-size: 12px;
  }

  .more-text {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .card-footer {
    margin-left: 25px;
  }

  .user-text, .date-text {
    font-size: 0.7rem;
  }

  .description {
    height: 44px;
    line-height: 22px;
    font-size: 13px;
  }

  .more-text {
    font-size: 0.7rem;
  }
}