.top-bg {
  height: 150px;
  background-image: url("/images/brandpage/bp-mobile-top-banner.png");
  background-size: cover;
  background-color: #000;
}

.logo {
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
  width: 100%;
}

.logo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.title {
  position: relative;
  top: -30px;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000;
}

.slider {
  position: relative;
  top: -30px;
  width: 100%;
  margin: 2rem auto 0.75rem;
  padding: 0 16px;
}

.description-box {
  position: relative;
  top: -30px;
  margin: 0 16px;
  padding: 1.8rem 1.5rem;
  border: 2px solid #fdf3d4;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(245, 215, 127, 0.5);
  background-color: #fff;
}

.description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
  color: #20222A;
}

.description-img {
  display: block;
  margin: auto;
}

.desktop {
  display: none;
}

@media screen and (min-width: 420px) {
  .slider {
    max-width: 400px;
    padding: 0;
  }

  .description-box {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 576px) {
  .logo {
    top: -65px;
  }

  .logo-img {
    width: 130px;
    height: 130px;
  }

  .slider, .description-box {
    max-width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .top-bg {
    display: none;
  }

  .logo, .title, .slider, .description-box {
    top: 0;
  }

  .logo {
    margin: 1rem 0;
  }

  .desktop {
    display: block;
  }

  .desktop-row {
    margin-top: 2rem;
  }

  .mobile {
    display: none;
  }

  .request-btn {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    letter-spacing: -0.04em;
    background-image: url("/images/brandpage/bp-mobile-top-banner.png");
    background-size: cover;
    color: #fff;
  }

  .request-btn:hover {
    box-shadow: 0 6px 11px rgba(0, 0, 0, 0.25);
  }

  .slider, .description-box {
    margin: 0;
    max-width: unset;
  }

  .slider {
    margin-bottom: 1rem;
  }

  .description-box {
    padding: 2rem 3rem 1rem;
  }
}