.main {
  padding: 1rem 0;
}

.title {
  margin-bottom: 2.5rem;
  font-family: Lalezar !important;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 31px;
  text-align: center;
  color: #000;
}

.filter-section-row {
  justify-content: space-between;
  align-items: center;
}

.show-count {
  display: none;
}

.filter-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-field-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 140px;
}

.search-field {
  padding-right: 3rem;
  border-radius: 2rem;
  border: 1px solid rgba(194, 197, 206, 0.5);
  height: 30px;
  box-shadow: 0 2px 9px rgba(160, 163, 179, 0.2);
}

.search-field::placeholder {
  font-size: 0.7rem;
  color: #94969f;
}

.search-field:focus, .select-field:focus {
  box-shadow: none;
  border-color: rgba(194, 197, 206, 0.5);
}

.search-icon {
  position: absolute;
  right: 1rem;
}

.sort-label {
  margin-left: 5px;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 13px;
}

.select-field-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 85px;
}

.select-field {
  border-radius: 2rem;
  border: 1px solid rgba(194, 197, 206, 0.5);
  height: 30px;
  font-size: 0.7rem;
  color: #94969f;
  box-shadow: 0 2px 9px rgba(160, 163, 179, 0.2);
}

.select-icon {
  position: absolute;
  left: 1rem;
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
}

.slider {
  margin-bottom: 2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;
}

.pagination span {
  margin: 2px 3px;
}

.gy-5 {
  --bs-gutter-y: 0;
  justify-content: center;
}

.request-btn-container {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 1rem;
  right: 0;
  width: 100%;
}

.request-btn {
  margin-top: 2rem;
  padding: 11px 50px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: -0.04em;
  box-shadow: 0 6px 11px rgba(0, 0, 0, 0.25);
  background: #0d0e19;
  color: #fff;
}

.request-btn:focus {
  outline: none;
}

@media screen and (min-width: 576px) {
  .search-field-container {
    width: 200px;
  }

  .select-field-container {
    width: 120px;
  }

  .select-field, .search-field {
    height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .services {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 992px) {
  .main {
    margin: 3rem 0;
  }

  .request-btn {
    display: none;
  }

  .filter-section-row {
    padding: 1rem 1.5rem 0;
  }

  .show-count {
    display: block;
    width: fit-content;
    font-weight: 500;
    font-size: 0.85rem;
    line-height: 20px;
    color: #242b83;
  }

  .filter-section {
    justify-content: flex-start;
    width: fit-content
  }

  .search-field-container {
    width: 240px;
  }

  .select-field-container {
    width: 145px;
  }

  .search-field, .select-field {
    height: 45px;
  }
}