.main {
  scroll-snap-align: start;
  min-height: calc(100vh - 77px);
  padding-top: 5rem;
}

.main-desktop {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 77px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.top-bg {
  height: 75px;
  width: 100%;
  background-color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 35px;
  width: 100%;
}

.logo-img {
  width: 80px;
  height: 80px;
  border-radius: 0;
}

.name {
  margin-top: 5rem;
  font-size: calc(1.3rem + .6vw);
  font-weight: 700;
  color: #eebd7a;
}

.double-quotes {
  position: absolute;
  top: 100px;
  width: 65px;
  opacity: 0.05;
  z-index: -1;
}

.double-quotes-img {
  width: 65px;
}

.header-about-section {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 3rem;
  padding: 0 2rem;
}

.header-about-right {
  position: absolute;
  top: -10px;
  right: 2rem;
  height: calc(100% + 20px);
  width: 75px;
  border-radius: 10px;
  z-index: -1;
  background-color: #274d81;
}

.header-about-left {
  position: absolute;
  top: -10px;
  left: 2rem;
  height: calc(100% + 20px);
  width: 75px;
  border-radius: 10px;
  z-index: -1;
  background-color: #274d81;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 15px);
  min-height: 130px;
  height: auto;
  margin: 0;
  padding: 2rem 3rem;
  overflow: hidden;
  border-radius: 8px;
  font-weight: bold;
  text-align: justify;
  background-color: #fff;
  color: #2b374d;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.dots4-4 {
  position: absolute;
  right: 0;
  top: 100px;
  width: 30px;
}

.dots2-4 {
  width: 30px;
  margin-top: 2rem;
}

.mobile-slider {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
  padding: 0 2rem;
}

.arrow {
  margin: 2rem 0 8rem;
  font-size: 3rem;
  opacity: 50%;
  cursor: pointer;
  z-index: 10000;
  color: #f00;
  animation-name: bounce-bottom;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes bounce-bottom {
  0%, 51% {
    transform: translateY(0);
  }
  62% {
    transform: translateY(-0.9rem);
  }
  81% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 420px) {
  .mobile-slider, .header-about-section {
    max-width: 400px;
  }
}

@media screen and (min-width: 576px) {
  .mobile-slider, .header-about-section {
    max-width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .main {
    scroll-snap-align: unset!important;
    min-height: unset!important;
    padding-top: 0;
  }

  .mobile-slider, .header-about-section, .double-quotes-img, .dots2-4, .dots4-4, .arrow {
    display: none;
  }

  .main-desktop {
    display: block;
  }

  .logo {
    top: 25px;
  }

  .logo-img {
    width: 100px;
    height: 100px;
  }

  .bottom {
    margin-top: 3rem;
  }

  .description {
    height: unset;
    min-height: unset;
    padding: 0;
    box-shadow: unset;
  }
}

@media screen and (min-width: 1200px) {
  .name {
    font-size: 1.75rem;
  }
}
