.page-title {
  margin-bottom: 4rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 1rem;
  background-color: white;
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.15s ease-out;
}

.card:hover::before {
  opacity: 0.35;
}

.zoom-in-icon {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
  opacity: 0;
  font-size: 5rem;
  color: white;
  transition: opacity 0.15s ease-out;
}

.card:hover .zoom-in-icon {
  opacity: 1;
}

.certificate {
  margin-bottom: 2rem;
}

.title {
  width: 90%;
  margin: 0 auto 1.5rem;
  font-size: 1.4rem;
  line-height: 2.3rem;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 1rem;
}

.certificate-modal-img {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .page-title {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .page-title {
    margin-bottom: 7rem;
  }
}